In [27]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load 
avocados = "Resources/avocado.csv"

# Read the Avocado Data
avocado_data = pd.read_csv(avocados).rename(columns={"Unnamed: 0": "Index","4046":"Small Hass","4225":"Large Hass","4770":"XLarge Hass"})
#preview avocado DF      
avocado_data.head()

,Index,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XLarge Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

### Start Finding Math

In [28]:
#total Avocado Volume
total_volume = (avocado_data["Total Volume"]).sum()
# print(f"Total Volume of Avocados Sold = {total_volume}")

#Total Small Avocados Sold
total_small_hass = (avocado_data["Small Hass"]).sum()
# print(f"Total Volume of Small Avocados Sold = {total_small_hass}")

#Total Large Avocados Sold
total_large_hass = (avocado_data["Large Hass"]).sum()
# print(f"Total Volume of Large Avocados Sold = {total_large_hass}")

#Total X-tra Large Avocados Sold
total_xlarge_hass = (avocado_data["XLarge Hass"]).sum()
# print(f"Total Volume of Large Avocados Sold = {total_xlarge_hass}")

#Total Average Price of Avocados
overall_avg_price = (avocado_data["AveragePrice"]).mean()
# print(f"Overall Average Price of Avocados is ${overall_avg_price}")

#Minimum Average Price of Avocados
min_avg_price = (avocado_data["AveragePrice"]).min()
# print(f"Minimum Average Price of Avocados is ${min_avg_price}")

#Maximum Average Price of Avocados
max_avg_price = (avocado_data["AveragePrice"]).max()
# print(f"Maximum Average Price of Avocados is ${max_avg_price}")

# Standard Deviation of Average Price of Avocados
std = (avocado_data["AveragePrice"]).sem()
# print(f"Standard Deviation on Price is {std}")

In [29]:
## Average Price of Avocado's by Region

In [30]:
# Sort avocado data by region
region_data = avocado_data.groupby('region')

# Average price of avocados by region
regional_mean = region_data['AveragePrice'].mean()

# Avocado min by region
regional_min = region_data['AveragePrice'].min()

# Avocado max by region
regional_max = region_data['AveragePrice'].max()

# Total difference in min/max by region
difference = regional_max - regional_min

# Standard deviation of Avocado Prices by Region
regional_std = region_data['AveragePrice'].sem()

In [31]:
avocado_summary = pd.merge(regional_mean,regional_min, on='region',how='outer').rename(columns={"AveragePrice_x": "Average Price","AveragePrice_y":"Minimum Price"})
avocado_summary = pd.merge(avocado_summary,regional_max, on='region',how='outer').rename(columns={"AveragePrice": "Maximum Price"})
avocado_summary = pd.merge(avocado_summary,difference, on='region',how='outer').rename(columns={"AveragePrice": "Min/Max Delta"})
avocado_summary = pd.merge(avocado_summary,regional_std, on='region',how='outer').rename(columns={"AveragePrice": "Standard Deviation"})
avocado_summary = avocado_summary.style.format({'Average Price':'${:,.2f}',
                             'Minimum Price':'${:,.2f}',
                             'Maximum Price':'${:,.2f}',})
avocado_summary

In [32]:
# Grouping Avocado Data by Type of Avocado
type_data = avocado_data.groupby('type')

# Average Price of Avocados by Type
average_price_type = type_data['AveragePrice'].mean()

#Minimum Average Price
min_type_price = type_data['AveragePrice'].min()

#Maximum Average Price
max_type_price = type_data['AveragePrice'].max()

#Price Delta
delta_type_price = max_type_price - min_type_price

#Standard Deviation
std_type_price = type_data['AveragePrice'].sem()

In [33]:
type_df = pd.merge(average_price_type,min_type_price, on='type', how='outer').rename(columns={"AveragePrice_x": "Average Price","AveragePrice_y":"Minimum Price"})
type_df = pd.merge(type_df, max_type_price, on='type', how='outer').rename(columns={"AveragePrice": "Maximum Price"})
type_df = pd.merge(type_df, delta_type_price, on='type', how='outer').rename(columns={"AveragePrice": "Min/Max Delta"})
type_df = pd.merge(type_df, std_type_price, on='type', how='outer').rename(columns={"AveragePrice": "Standard Deviation"})


type_df.reset_index(drop=True)
type_df

,Average Price,Minimum Price,Maximum Price,Min/Max Delta,Standard Deviation
type,,,,,
conventional,1.158040,0.46,2.22,1.76,0.002753
organic,1.653999,0.44,3.25,2.81,0.003806

In [34]:
# Grouping Avocado Data by Type of Avocado
combo_data = avocado_data.groupby(['type','region'])
combo_data.head([0])

Empty DataFrame
Columns: [Index, Date, AveragePrice, Total Volume, Small Hass, Large Hass, XLarge Hass, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region]
Index: []

In [35]:
# Average Price of Avocados by Type
combo_average_price_type = combo_data['AveragePrice'].mean()

# Minimum Average Price
combo_min_type_price = combo_data['AveragePrice'].min()

#Maximum Average Price
combo_max_type_price = combo_data['AveragePrice'].max()

#Delta
combo_delta_type_price = combo_max_type_price - combo_min_type_price

# Combo Standard Deviation
combo_std_type_price = combo_data['AveragePrice'].sem()

In [36]:
combo_df = (pd.merge(combo_average_price_type,combo_min_type_price, on=['type','region'], how='outer').rename(columns={"AveragePrice_x": "Average Price","AveragePrice_y":"Minimum Price"}))
combo_df = pd.merge(combo_df, combo_max_type_price, on=['type','region'], how='outer').rename(columns={"AveragePrice": "Maximum Price"})
combo_df = pd.merge(combo_df, combo_delta_type_price, on=['type','region'], how='outer').rename(columns={"AveragePrice": "Min/Max Delta"})
combo_df = pd.merge(combo_df, combo_std_type_price, on=['type','region'], how='outer').rename(columns={"AveragePrice": "Standard Deviation"})

combo_df

                                  Average Price  Minimum Price  Maximum Price  \
type         region
conventional Albany                    1.348757           0.85           1.80
             Atlanta                   1.068817           0.68           1.64
             BaltimoreWashington       1.344201           0.95           1.86
             Boise                     1.076036           0.58           1.89
             Boston                    1.304379           0.85           1.81
             BuffaloRochester          1.382308           1.04           1.71
             California                1.105444           0.67           1.78
             Charlotte                 1.275089           0.80           1.77
             Chicago                   1.369349           0.70           2.22
             CincinnatiDayton          1.015503           0.60           1.90
             Columbus                  1.066272           0.69           1.83
             DallasFtWorth             0.846450           0.65           1.30
             Denver                    1.073964           0.60           1.60
             Detroit                   1.123964           0.65           1.94
             GrandRapids               1.325030           0.77           2.19
             GreatLakes                1.181893           0.73           1.98
             HarrisburgScranton        1.258817           0.91           1.60
             HartfordSpringfield       1.408047           0.86           1.85
             Houston                   0.825089           0.51           1.29
             Indianapolis              1.144852           0.77           1.97
             Jacksonville              1.193609           0.54           2.00
             LasVegas                  1.012959           0.54           1.64
             LosAngeles                0.976450           0.53           1.80
             Louisville                1.105325           0.75           1.98
             MiamiFtLauderdale         1.254320           0.59           2.04
             Midsouth                  1.207160           0.91           1.72
             Nashville                 1.012899           0.60           1.76
             NewOrleansMobile          1.085266           0.58           1.72
             NewYork                   1.402130           0.77           1.99
             Northeast                 1.344438           0.87           1.75
...                                         ...            ...            ...
organic      MiamiFtLauderdale         1.602663           1.11           3.05
             Midsouth                  1.602367           1.02           2.17
             Nashville                 1.411302           0.51           2.24
             NewOrleansMobile          1.524320           0.98           2.32
             NewYork                   2.053018           1.36           2.65
             Northeast                 1.859408           1.39           2.31
             NorthernNewEngland        1.694556           0.99           1.96
             Orlando                   1.797988           1.26           2.87
             Philadelphia              1.867929           1.35           2.45
             PhoenixTucson             1.720651           1.12           2.62
             Pittsburgh                1.477988           1.15           1.83
             Plains                    1.707515           1.29           2.13
             Portland                  1.588935           0.68           2.86
             RaleighGreensboro         1.883136           1.02           3.04
             RichmondNorfolk           1.462840           0.93           2.05
             Roanoke                   1.399822           0.70           2.27
             Sacramento                1.969172           1.13           2.82
             SanDiego                  1.734852           1.05           2.74
             SanFrancisco              2.211243           1.06           3.25
             Seattle                   1.715385           0.70           2.96
             SouthCarolina             1.660355           0.99           2.21
             SouthCentral              1.333077           0.97           1.81
             Southeast                 1.633018           1.11           2.33
             Spokane                   1.775207           0.85           2.95
             StLouis                   1.675503           0.58           2.84
             Syracuse                  1.653728           1.04           2.44
             Tampa                     1.616095           1.08           3.17
             TotalUS                   1.546036           1.00           2.09
             West                      1.559349           0.90           2.52
             WestTexNewMexico          1.688855           1.04           2.93

                                  Min/Max Delta  Standard Deviation
type         region
conventional Albany                        0.95            0.016341
             Atlanta                       0.96            0.013721
             BaltimoreWashington           0.91            0.016532
             Boise                         1.31            0.018940
             Boston                        0.96            0.016823
             BuffaloRochester              0.67            0.010964
             California                    1.11            0.017664
             Charlotte                     0.97            0.015175
             Chicago                       1.52            0.024841
             CincinnatiDayton              1.30            0.017997
             Columbus                      1.14            0.015057
             DallasFtWorth                 0.65            0.010529
             Denver                        1.00            0.015150
             Detroit                       1.29            0.017135
             GrandRapids                   1.42            0.024344
             GreatLakes                    1.25            0.016493
             HarrisburgScranton            0.69            0.011876
             HartfordSpringfield           0.99            0.016773
             Houston                       0.78            0.011468
             Indianapolis                  1.20            0.016524
             Jacksonville                  1.46            0.019046
             LasVegas                      1.10            0.013687
             LosAngeles                    1.27            0.018784
             Louisville                    1.23            0.016553
             MiamiFtLauderdale             1.45            0.019569
             Midsouth                      0.81            0.012132
             Nashville                     1.16            0.013218
             NewOrleansMobile              1.14            0.016137
             NewYork                       1.22            0.018465
             Northeast                     0.88            0.014582
...                                         ...                 ...
organic      MiamiFtLauderdale             1.94            0.024493
             Midsouth                      1.15            0.014592
             Nashville                     1.73            0.025718
             NewOrleansMobile              1.34            0.015333
             NewYork                       1.29            0.016079
             Northeast                     0.92            0.012836
             NorthernNewEngland            0.97            0.015322
             Orlando                       1.61            0.022317
             Philadelphia                  1.10            0.017941
             PhoenixTucson                 1.50            0.021198
             Pittsburgh                    0.68            0.008797
             Plains                        0.84            0.012798
             Portland                      2.18            0.036508
             RaleighGreensboro             2.02            0.027034
             RichmondNorfolk               1.12            0.017510
             Roanoke                       1.57            0.023083
             Sacramento                    1.69            0.025196
             SanDiego                      1.69            0.027528
             SanFrancisco                  2.19            0.036446
             Seattle                       2.26            0.036523
             SouthCarolina                 1.22            0.018356
             SouthCentral                  0.84            0.014938
             Southeast                     1.22            0.017487
             Spokane                       2.10            0.035030
             StLouis                       2.26            0.032832
             Syracuse                      1.40            0.020789
             Tampa                         2.09            0.022560
             TotalUS                       1.09            0.015597
             West                          1.62            0.026847
             WestTexNewMexico              1.89            0.026934

[108 rows x 5 columns]