In [4]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
avocados = "Resources/avocado.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
avocado_data = pd.read_csv(avocados).rename(columns={"Unnamed: 0": "Index","4046":"Small Hass","4225":"Large Hass","4770":"XLarge Hass"})
       
avocado_data.head()

,Index,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XLarge Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

### Start Finding Math

In [5]:
total_volume = (avocado_data["Total Volume"]).sum()
# print(f"Total Volume of Avocados Sold = {total_volume}")

In [6]:
total_small_hass = (avocado_data["Small Hass"]).sum()
# print(f"Total Volume of Small Avocados Sold = {total_small_hass}")

In [7]:
total_large_hass = (avocado_data["Large Hass"]).sum()
# print(f"Total Volume of Large Avocados Sold = {total_large_hass}")

In [8]:
total_xlarge_hass = (avocado_data["XLarge Hass"]).sum()
# print(f"Total Volume of Large Avocados Sold = {total_xlarge_hass}")

In [9]:
overall_avg_price = (avocado_data["AveragePrice"]).mean()
# print(f"Overall Average Price of Avocados is ${overall_avg_price}")

In [10]:
min_avg_price = (avocado_data["AveragePrice"]).min()
# print(f"Minimum Average Price of Avocados is ${min_avg_price}")

Minimum Average Price of Avocados is $0.44

In [11]:
max_avg_price = (avocado_data["AveragePrice"]).max()
# print(f"Maximum Average Price of Avocados is ${max_avg_price}")

Maximum Average Price of Avocados is $3.25

In [12]:
std = (avocado_data["AveragePrice"]).sem()
# print(f"Standard Deviation on Price is {std}")

Standard Deviation on Price is 0.002980827261076905

In [13]:
## Average Price of Avocado's by Region

In [14]:
#sort avocado data by region
region_data = avocado_data.groupby('region')
# region_data.head(5)

In [15]:
#average price of avocados by region
regional_mean = region_data['AveragePrice'].mean()
# regional_mean

In [16]:
# avocado min by region
regional_min = region_data['AveragePrice'].min()
# regional_min

In [17]:
# avocado max by region
regional_max = region_data['AveragePrice'].max()
# regional_max

In [19]:
# total difference in min/max by region
difference = regional_max - regional_min
# difference

In [20]:
# standard deviation
regional_std = region_data['AveragePrice'].sem()
# regional_std

In [58]:
avocado_summary = pd.merge(regional_mean,regional_min, on='region',how='outer').rename(columns={"AveragePrice_x": "Average Price","AveragePrice_y":"Minimum Price"})
avocado_summary = pd.merge(avocado_summary,regional_max, on='region',how='outer').rename(columns={"AveragePrice": "Maximum Price"})
avocado_summary = pd.merge(avocado_summary,difference, on='region',how='outer').rename(columns={"AveragePrice": "Min/Max Delta"})
avocado_summary = pd.merge(avocado_summary,regional_std, on='region',how='outer').rename(columns={"AveragePrice": "Standard Deviation"})
avocado_summary = avocado_summary.style.format({'Average Price':'${:,.2f}',
                             'Minimum Price':'${:,.2f}',
                             'Maximum Price':'${:,.2f}',})
avocado_summary

In [52]:
type_data = avocado_data.groupby('type')
type_data.head()

,Index,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XLarge Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
9126,0,2015-12-27,1.83,989.55,8.16,88.59,0.00,892.80,892.80,0.00,0.0,organic,2015,Albany
9127,1,2015-12-20,1.89,1163.03,30.24,172.14,0.00,960.65,960.65,0.00,0.0,organic,2015,Albany
9128,2,2015-12-13,1.85,995.96,10.44,178.70,0.00,806.82,806.82,0.00,0.0,organic,2015,Albany
9129,3,2015-12-06,1.84,1158.42,90.29,104.18,0.00,963.95,948.52,15.43,0.0,organic,2015,Albany
9130,4,2015-11-29,1.94,831.69,0.00,94.73,0.00,736.96,736.96,0.00,0.0,organic,2015,Albany

In [48]:
average_price_type = type_data['AveragePrice'].mean()
average_price_type.head()

type
conventional    1.158040
organic         1.653999
Name: AveragePrice, dtype: float64

In [49]:
max_type_price = type_data['AveragePrice'].max()
max_type_price

type
conventional    2.22
organic         3.25
Name: AveragePrice, dtype: float64

In [50]:
min_type_price = type_data['AveragePrice'].min()
min_type_price

type
conventional    0.46
organic         0.44
Name: AveragePrice, dtype: float64

In [51]:
delta_type_price = max_type_price - min_type_price
delta_type_price

type
conventional    1.76
organic         2.81
Name: AveragePrice, dtype: float64

In [62]:
std_type_price = type_data['AveragePrice'].sem()
std_type_price

type
conventional    0.002753
organic         0.003806
Name: AveragePrice, dtype: float64

In [68]:
type_df = pd.merge(average_price_type,min_type_price, on='type', how='outer').rename(columns={"AveragePrice_x": "Average Price","AveragePrice_y":"Minimum Price"})
type_df = pd.merge(type_df, max_type_price, on='type', how='outer').rename(columns={"AveragePrice": "Maximum Price"})
type_df = pd.merge(type_df, delta_type_price, on='type', how='outer').rename(columns={"AveragePrice": "Min/Max Delta"})
type_df = pd.merge(type_df, std_type_price, on='type', how='outer').rename(columns={"AveragePrice": "Standard Deviation"})

type_df = type_df.style.format({'Average Price':'${:,.2f}',
                             'Minimum Price':'${:,.2f}',
                             'Maximum Price':'${:,.2f}',})
type_df