In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
avocados = "Resources/avocado.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
avocado_data = pd.read_csv(avocados).rename(columns={"Unnamed: 0": "Index","4046":"Small Hass","4225":"Large Hass","4770":"XLarge Hass"})
       
avocado_data.head()

,Index,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XLarge Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

### Start Finding Math

In [24]:
total_volume = (avocado_data["Total Volume"]).sum()
print(f"Total Volume of Avocados Sold = {total_volume}")

Total Volume of Avocados Sold = 15523402593.400002

In [2]:
total_small_hass = (avocado_data["Small Hass"]).sum()
print(f"Total Volume of Small Avocados Sold = {total_small_hass}")

Total Volume of Small Avocados Sold = 5347110739.26

In [3]:
total_large_hass = (avocado_data["Large Hass"]).sum()
print(f"Total Volume of Large Avocados Sold = {total_large_hass}")

Total Volume of Large Avocados Sold = 5386275717.93

In [4]:
total_xlarge_hass = (avocado_data["XLarge Hass"]).sum()
print(f"Total Volume of Large Avocados Sold = {total_xlarge_hass}")

Total Volume of Large Avocados Sold = 416802342.12999994

In [5]:
overall_avg_price = (avocado_data["AveragePrice"]).mean()
print(f"Overall Average Price of Avocados is ${overall_avg_price}")

Overall Average Price of Avocados is $1.4059784097758825

In [6]:
min_avg_price = (avocado_data["AveragePrice"]).min()
print(f"Minimum Average Price of Avocados is ${min_avg_price}")

Minimum Average Price of Avocados is $0.44

In [7]:
max_avg_price = (avocado_data["AveragePrice"]).max()
print(f"Maximum Average Price of Avocados is ${max_avg_price}")

Maximum Average Price of Avocados is $3.25

In [8]:
std = (avocado_data["AveragePrice"]).sem()
print(f"Standard Deviation on Price is {std}")

Standard Deviation on Price is 0.002980827261076905

In [9]:
## Average Price of Avocado's by Region

In [10]:
#sort avocado data by region
region_data = avocado_data.groupby('region')
region_data.head(5)

,Index,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XLarge Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
52,0,2015-12-27,0.99,386100.49,292097.36,27350.92,297.90,66354.31,48605.95,17748.36,0.00,conventional,2015,Atlanta
53,1,2015-12-20,1.08,331377.53,251774.15,20702.45,103.06,58797.87,46930.26,11867.61,0.00,conventional,2015,Atlanta
54,2,2015-12-13,0.96,417772.47,324932.28,31019.08,275.80,61545.31,38903.57,22628.21,13.53,conventional,2015,Atlanta
55,3,2015-12-06,1.07,357636.82,283024.01,23740.85,181.92,50690.04,37032.67,13654.66,2.71,conventional,2015,Atlanta
56,4,2015-11-29,0.99,333280.79,250288.65,28889.63,307.83,53794.68,33031.72,20738.55,24.41,conventional,2015,Atlanta
104,0,2015-12-27,1.17,596819.40,40450.49,394104.02,17353.79,144911.10,142543.88,2367.22,0.00,conventional,2015,BaltimoreWashington
105,1,2015-12-20,1.11,642682.40,44741.37,434590.82,19112.14,144238.07,141751.91,2486.16,0.00,conventional,2015,BaltimoreWashington
106,2,2015-12-13,1.15,619509.33,44400.26,399851.59,24291.20,150966.28,149070.40,1895.88,0.00,conventional,2015,BaltimoreWashington
107,3,2015-12-06,1.04,649141.25,51129.29,453586.50,25760.49,118664.97,117112.77,1552.20,0.00,conventional,2015,BaltimoreWashington
108,4,2015-11-29,1.16,545800.05,41028.15,379156.09,20147.53,105468.28,103615.95,1852.33,0.00,conventional,2015,BaltimoreWashington
156,0,2015-12-27,0.97,62909.69,30482.25,2971.94,5894.40,23561.10,23520.19,5.69,35.22,conventional,2015,Boise
157,1,2015-12-20,1.03,57504.05,25628.22,2546.09,7393.84,21935.90,21900.35,11.43,24.12,conventional,2015,Boise
158,2,2015-12-13,0.99,58461.05,27148.61,2985.73,6458.44,21868.27,21842.87,4.44,20.96,conventional,2015,Boise
159,3,2015-12-06,0.71,95295.34,35590.98,12526.50,4086.26,43091.60,42734.53,0.00,357.07,conventional,2015,Boise
160,4,2015-11-29,1.06,49069.13,24189.98,2789.67,6031.49,16057.99,15860.63,0.00,197.36,conventional,2015,Boise
208,0,2015-12-27,1.13,450816.39,3886.27,346964.70,13952.56,86012.86,85913.60,99.26,0.00,conventional,2015,Boston
209,1,2015-12-20,1.07,489802.88,4912.37,390100.99,5887.72,88901.80,88768.47,133.33,0.00,conventional,2015,Boston
210,2,2015-12-13,1.01,549945.76,4641.02,455362.38,219.40,89722.96,89523.38,199.58,0.00,conventional,2015,Boston
211,3,2015-12-06,1.02,488679.31,5126.32,407520.22,142.99,75889.78,75666.22,223.56,0.00,conventional,2015,Boston
212,4,2015-11-29,1.19,350559.81,3609.25,272719.08,105.86,74125.62,73864.52,261.10,0.00,conventional,2015,Boston
260,0,2015-12-27,1.35,96233.08,1367.81,39542.83,85.76,55236.68,55236.68,0.00,0.00,conventional,2015,BuffaloRochester
261,1,2015-12-20,1.37,90867.51,1164.92,38430.71,106.67,51165.21,51165.21,0.00,0.00,conventional,2015,BuffaloRochester
262,2,2015-12-13,1.35,98473.23,1421.12,40783.22,66.45,56202.44,56202.44,0.00,0.00,conventional,2015,BuffaloRochester
263,3,2015-12-06,1.23,108457.82,1737.71,58197.34,167.12,48355.65,48355.65,0.00,0.00,conventional,2015,BuffaloRochester
264,4,2015-11-29,1.39,79973.14,1514.69,35682.71,113.49,42662.25,42662.25,0.00,0.00,conventional,2015,BuffaloRochester
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0,2015-12-27,1.10,152121.37,50481.76,25206.85,23.89,76408.87,58430.48,17978.39,0.00,conventional,2015,StLouis
2497,1,2015-12-20,1.13,135427.66,40333.06,23867.60,40.52,71186.48,59160.36,12026.12,0.00,conventional,2015,StLouis
2498,2,2015-12-13,0.99,166083.52,64673.08,24481.09,71.71,76857.64,55878.32,20979.32,0.00,conventional,2015,StLouis
2499,3,2015-12-06,1.09,147544.08,60481.90,25222.92,27.18,61812.08,53742.31,8069.77,0.00,conventional,2015,StLouis
2500,4,2015-11-29,1.16,129475.25,38130.41,26526.03,115.21,64703.60,57854.06,6840.66,8.88,conventional,2015,StLouis
2548,0,2015-12-27,1.36,42344.22,828.65,23560.51,14.41,17940.65,17940.65,0.00,0.00,conventional,2015,Syracuse
2549,1,2015-12-20,1.36,39365.15,646.68,22231.33,12.89,16474.25,16474.25,0.00,0.00,conventional,2015,Syracuse
2550,2,2015-12-13,1.32,50384.57,773.81,33149.83,5.70,16455.23,16455.23,0.00,0.00,conventional,2015,Syracuse
2551,3,2015-12-06,1.17,50632.73,874.90,34439.57,11.91,15306.35,15306.35,0.00,0.00,conventional,2015,Syracuse
2552,4,2015-11-29,1.41,35852.68,719.36,21285.35,8.89,13839.08,13839.08,0.00,0.00,conventional,2015,Syracuse
2600,0,2015-12-27,0.97,376187.98,246326.83,35652.12,56.54,94152.49,55850.56,38301.93,0.00,conventional,2015,Tampa
2601,1,2015-12-20,1.15,238950.84,146376.83,23810.77,33.84,68729.40,50715.84,18013.56,0.00,conventional,2015,Tampa
2602,2,2015-12-13,0.96,365643.92,242293.88,40944.16,52.15,82353.73,42015.01,40338.72,0.00,conventional,2015,Tampa
2603,3,2015-12-06,1.17,227131.21,145404.19,29926.02,43.83,51757.17,33251.65,18505.52,0.00,conventional,2015,Tampa
2604,4,2015-11-29,0.96,330060.95,213390.26,41026.86,18.37,75625.46,36785.63,38839.83,0.00,conventional,2015,Tampa
2652,0,2015-12-27,0.95,27297983.67,9626901.09,10197890.05,1184340.09,6288852.44,4850404.09,1252626.31,185822.04,conventional,2015,TotalUS
2653,1,2015-12-20,0.98,25083647.17,8710021.76,9329861.85,1201020.01,5842743.55,4618389.66,1025048.77,199305.12,conventional,2015,TotalUS
2654,2,2015-12-13,0.93,28041335.38,9855053.66,10805838.91,1016163.17,6364279.64,4964462.13,1371440.28,28377.23,conventional,2015,TotalUS
2655,3,2015-12-06,0.89,28800396.57,9405464.36,12160838.62,931830.63,6302262.96,5005077.36,1233956.21,63229.39,conventional,2015,TotalUS
2656,4,2015-11-29,0.99,22617999.38,8094803.56,9003178.41,731008.41,4789009.00,3901953.04,856560.34,30495.62,conventional,2015,TotalUS
2704,0,2015-12-27,0.83,5291979.63,2038443.68,1717599.45,125254.82,1410681.68,838267.79,567269.76,5144.13,conventional,2015,West
2705,1,2015-12-20,0.88,4737649.03,2017331.24,1314711.00,130849.60,1274757.19,843691.13,417746.45,13319.61,conventional,2015,West
2706,2,2015-12-13,0.85,4899439.92,1798995.46,1596329.01,134101.62,1370013.83,851506.76,517936.19,570.88,conventional,2015,West
2707,3,2015-12-06,0.75,6202513.84,2097720.52,2051392.83,107568.34,1945832.15,1360760.83,582846.33,2224.99,conventional,2015,West
2708,4,2015-11-29,0.99,3719603.21,1461861.54,1216811.00,104219.76,936710.91,688674.00,247318.15,718.76,conventional,2015,West
2756,0,2015-12-27,0.71,776404.39,451904.51,141599.36,15486.97,167413.55,123158.22,33065.33,11190.00,conventional,2015,WestTexNewMexico
2757,1,2015-12-20,0.83,649885.76,389110.55,108176.29,12953.59,139645.33,90392.86,23535.80,25716.67,conventional,2015,WestTexNewMexico
2758,2,2015-12-13,0.78,646041.56,437780.91,100110.13,13576.25,94574.27,83053.10,10947.84,573.33,conventional,2015,WestTexNewMexico
2759,3,2015-12-06,0.74,623231.77,398871.12,133434.18,21088.12,69838.35,68233.56,1604.79,0.00,conventional,2015,WestTexNewMexico
2760,4,2015-11-29,0.81,519028.45,335446.83,103635.94,11463.06,68482.62,67264.73,1217.89,0.00,conventional,2015,WestTexNewMexico

In [11]:
#average price of avocados by region
regional_mean = region_data['AveragePrice'].mean()
regional_mean

region
Albany                 1.561036
Atlanta                1.337959
BaltimoreWashington    1.534231
Boise                  1.348136
Boston                 1.530888
BuffaloRochester       1.516834
California             1.395325
Charlotte              1.606036
Chicago                1.556775
CincinnatiDayton       1.209201
Columbus               1.252781
DallasFtWorth          1.085592
Denver                 1.218580
Detroit                1.276095
GrandRapids            1.505000
GreatLakes             1.338550
HarrisburgScranton     1.513284
HartfordSpringfield    1.818639
Houston                1.047929
Indianapolis           1.313994
Jacksonville           1.510947
LasVegas               1.380917
LosAngeles             1.216006
Louisville             1.286686
MiamiFtLauderdale      1.428491
Midsouth               1.404763
Nashville              1.212101
NewOrleansMobile       1.304793
NewYork                1.727574
Northeast              1.601923
NorthernNewEngland     1.477396
Orlando                1.506213
Philadelphia           1.632130
PhoenixTucson          1.224438
Pittsburgh             1.364320
Plains                 1.436509
Portland               1.317722
RaleighGreensboro      1.555118
RichmondNorfolk        1.291331
Roanoke                1.247929
Sacramento             1.621568
SanDiego               1.398166
SanFrancisco           1.804201
Seattle                1.442574
SouthCarolina          1.403284
SouthCentral           1.101243
Southeast              1.398018
Spokane                1.445592
StLouis                1.430621
Syracuse               1.520325
Tampa                  1.408846
TotalUS                1.319024
West                   1.272219
WestTexNewMexico       1.261701
Name: AveragePrice, dtype: float64

In [12]:
# avocado min by region
regional_min = region_data['AveragePrice'].min()
regional_min

region
Albany                 0.85
Atlanta                0.62
BaltimoreWashington    0.95
Boise                  0.58
Boston                 0.85
BuffaloRochester       1.03
California             0.67
Charlotte              0.80
Chicago                0.70
CincinnatiDayton       0.44
Columbus               0.52
DallasFtWorth          0.65
Denver                 0.60
Detroit                0.48
GrandRapids            0.77
GreatLakes             0.73
HarrisburgScranton     0.91
HartfordSpringfield    0.86
Houston                0.51
Indianapolis           0.77
Jacksonville           0.54
LasVegas               0.54
LosAngeles             0.53
Louisville             0.56
MiamiFtLauderdale      0.59
Midsouth               0.91
Nashville              0.51
NewOrleansMobile       0.58
NewYork                0.77
Northeast              0.87
NorthernNewEngland     0.95
Orlando                0.58
Philadelphia           0.91
PhoenixTucson          0.46
Pittsburgh             0.87
Plains                 0.76
Portland               0.68
RaleighGreensboro      0.86
RichmondNorfolk        0.78
Roanoke                0.70
Sacramento             0.86
SanDiego               0.61
SanFrancisco           0.84
Seattle                0.70
SouthCarolina          0.69
SouthCentral           0.62
Southeast              0.62
Spokane                0.74
StLouis                0.58
Syracuse               1.03
Tampa                  0.56
TotalUS                0.76
West                   0.66
WestTexNewMexico       0.52
Name: AveragePrice, dtype: float64

In [13]:
# avocado max by region
regional_max = region_data['AveragePrice'].max()
regional_max

region
Albany                 2.13
Atlanta                2.75
BaltimoreWashington    2.28
Boise                  2.79
Boston                 2.19
BuffaloRochester       2.57
California             2.58
Charlotte              2.83
Chicago                2.30
CincinnatiDayton       2.20
Columbus               2.22
DallasFtWorth          1.90
Denver                 2.16
Detroit                2.08
GrandRapids            2.73
GreatLakes             1.98
HarrisburgScranton     2.27
HartfordSpringfield    2.68
Houston                1.92
Indianapolis           2.10
Jacksonville           2.99
LasVegas               3.03
LosAngeles             2.44
Louisville             2.29
MiamiFtLauderdale      3.05
Midsouth               2.17
Nashville              2.24
NewOrleansMobile       2.32
NewYork                2.65
Northeast              2.31
NorthernNewEngland     1.96
Orlando                2.87
Philadelphia           2.45
PhoenixTucson          2.62
Pittsburgh             1.83
Plains                 2.13
Portland               2.86
RaleighGreensboro      3.04
RichmondNorfolk        2.05
Roanoke                2.27
Sacramento             2.82
SanDiego               2.74
SanFrancisco           3.25
Seattle                2.96
SouthCarolina          2.21
SouthCentral           1.81
Southeast              2.33
Spokane                2.95
StLouis                2.84
Syracuse               2.44
Tampa                  3.17
TotalUS                2.09
West                   2.52
WestTexNewMexico       2.93
Name: AveragePrice, dtype: float64

In [14]:
# total difference in min/max by region
difference = regional_max - regional_min
difference

region
Albany                 1.28
Atlanta                2.13
BaltimoreWashington    1.33
Boise                  2.21
Boston                 1.34
BuffaloRochester       1.54
California             1.91
Charlotte              2.03
Chicago                1.60
CincinnatiDayton       1.76
Columbus               1.70
DallasFtWorth          1.25
Denver                 1.56
Detroit                1.60
GrandRapids            1.96
GreatLakes             1.25
HarrisburgScranton     1.36
HartfordSpringfield    1.82
Houston                1.41
Indianapolis           1.33
Jacksonville           2.45
LasVegas               2.49
LosAngeles             1.91
Louisville             1.73
MiamiFtLauderdale      2.46
Midsouth               1.26
Nashville              1.73
NewOrleansMobile       1.74
NewYork                1.88
Northeast              1.44
NorthernNewEngland     1.01
Orlando                2.29
Philadelphia           1.54
PhoenixTucson          2.16
Pittsburgh             0.96
Plains                 1.37
Portland               2.18
RaleighGreensboro      2.18
RichmondNorfolk        1.27
Roanoke                1.57
Sacramento             1.96
SanDiego               2.13
SanFrancisco           2.41
Seattle                2.26
SouthCarolina          1.52
SouthCentral           1.19
Southeast              1.71
Spokane                2.21
StLouis                2.26
Syracuse               1.41
Tampa                  2.61
TotalUS                1.33
West                   1.86
WestTexNewMexico       2.41
Name: AveragePrice, dtype: float64

In [15]:
# standard deviation
regional_std = region_data['AveragePrice'].sem()
regional_std

region
Albany                 0.015882
Atlanta                0.021665
BaltimoreWashington    0.016287
Boise                  0.024907
Boston                 0.017845
BuffaloRochester       0.014923
California             0.021243
Charlotte              0.022545
Chicago                0.018245
CincinnatiDayton       0.019109
Columbus               0.017183
DallasFtWorth          0.016086
Denver                 0.017292
Detroit                0.017306
GrandRapids            0.020098
GreatLakes             0.013945
HarrisburgScranton     0.017308
HartfordSpringfield    0.025510
Houston                0.016435
Indianapolis           0.015387
Jacksonville           0.022722
LasVegas               0.025780
LosAngeles             0.020591
Louisville             0.017351
MiamiFtLauderdale      0.018303
Midsouth               0.014340
Nashville              0.018060
NewOrleansMobile       0.016325
NewYork                0.021534
Northeast              0.017053
NorthernNewEngland     0.016142
Orlando                0.021385
Philadelphia           0.017421
PhoenixTucson          0.029823
Pittsburgh             0.009544
Plains                 0.017751
Portland               0.025240
RaleighGreensboro      0.023242
RichmondNorfolk        0.013931
Roanoke                0.015295
Sacramento             0.024212
SanDiego               0.024828
SanFrancisco           0.030752
Seattle                0.025716
SouthCarolina          0.017977
SouthCentral           0.015620
Southeast              0.017428
Spokane                0.026433
StLouis                0.022736
Syracuse               0.013638
Tampa                  0.018553
TotalUS                0.016071
West                   0.021675
WestTexNewMexico       0.027160
Name: AveragePrice, dtype: float64

In [28]:
avocado_summary = pd.merge(regional_mean,regional_min, on='region',how='outer').rename(columns={"AveragePrice_x": "Average Price","AveragePrice_y":"Minimum Price"})
avocado_summary = pd.merge(avocado_summary,regional_max, on='region',how='outer').rename(columns={"AveragePrice": "Maximum Price"})
avocado_summary = pd.merge(avocado_summary,difference, on='region',how='outer').rename(columns={"AveragePrice": "Min/Max Delta"})
avocado_summary = pd.merge(avocado_summary,regional_std, on='region',how='outer').rename(columns={"AveragePrice": "Standard Deviation"})
avocado_summary.style.format({'Average Price':'${:,.2f}',
                             'Minimum Price':'${:,.2f}',
                             'Maximum Price':'${:,.2f}',})