In [21]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
avocados = "Resources/avocado.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
avocado_data = pd.read_csv(avocados).rename(columns={"Unnamed: 0": "Index","4046":"Small Hass","4225":"Large Hass","4770":"XLarge Hass"})

avocado_data.head()

,Index,Date,AveragePrice,Total Volume,Small Hass,Large Hass,XLarge Hass,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

### Start Finding Math

In [24]:
total_volume = (avocado_data["Total Volume"]).sum()
print(f"Total Volume of Avocados Sold = {total_volume}")

Total Volume of Avocados Sold = 15523402593.400002

In [26]:
total_small_hass = (avocado_data["Small Hass"]).sum()
print(f"Total Volume of Small Avocados Sold = {total_small_hass}")

Total Volume of Small Avocados Sold = 5347110739.26

In [27]:
total_large_hass = (avocado_data["Large Hass"]).sum()
print(f"Total Volume of Large Avocados Sold = {total_large_hass}")

Total Volume of Large Avocados Sold = 5386275717.93

In [28]:
total_xlarge_hass = (avocado_data["XLarge Hass"]).sum()
print(f"Total Volume of Large Avocados Sold = {total_xlarge_hass}")

Total Volume of Large Avocados Sold = 416802342.12999994

In [31]:
overall_avg_price = (avocado_data["AveragePrice"]).mean()
print(f"Overall Average Price of Avocados is ${overall_avg_price}")

Overall Average Price of Avocados is $1.4059784097758825

In [32]:
type((avocado_data["XLarge Hass"]))

pandas.core.series.Series