## CENSUS DATABASE 2011-2018

In [62]:
import pandas as pd
from census import Census
import requests
import os
import numpy as np

# Census API Key
from config import api_key

# provide the api key and the year to establish a session
c = Census(api_key, year=2015)

# Set an option to allow up to 300 characters to print in each column
pd.set_option('max_colwidth', 300)

In [63]:
# query for all tables
tables = c.acs5.tables()

# The tables variable contains a list of dicts, so we can convert directly to a dataframe
table_df = pd.DataFrame(tables)
print(f"Number of available tables: {len(table_df)}")
table_df.head()

Number of available tables: 1045

,description,name,variables
0,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY SOCIAL SECURITY INCOME BY SUPPLEMENTAL SECURITY INCOME (SSI) AND CASH PUBLIC ASSISTANCE INCOME,B17015,https://api.census.gov/data/2015/acs/acs5/groups/B17015.json
1,SEX BY AGE BY COGNITIVE DIFFICULTY,B18104,https://api.census.gov/data/2015/acs/acs5/groups/B18104.json
2,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY WORK EXPERIENCE OF HOUSEHOLDER AND SPOUSE,B17016,https://api.census.gov/data/2015/acs/acs5/groups/B17016.json
3,SEX BY AGE BY AMBULATORY DIFFICULTY,B18105,https://api.census.gov/data/2015/acs/acs5/groups/B18105.json
4,POVERTY STATUS IN THE PAST 12 MONTHS BY HOUSEHOLD TYPE BY AGE OF HOUSEHOLDER,B17017,https://api.census.gov/data/2015/acs/acs5/groups/B17017.json

In [64]:
# Filter database : Income
table_df[table_df['description'].str.contains("FAMILY")]

,description,name,variables
0,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY SOCIAL SECURITY INCOME BY SUPPLEMENTAL SECURITY INCOME (SSI) AND CASH PUBLIC ASSISTANCE INCOME,B17015,https://api.census.gov/data/2015/acs/acs5/groups/B17015.json
2,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY WORK EXPERIENCE OF HOUSEHOLDER AND SPOUSE,B17016,https://api.census.gov/data/2015/acs/acs5/groups/B17016.json
8,AGGREGATE INCOME DEFICIT (DOLLARS) IN THE PAST 12 MONTHS FOR FAMILIES BY FAMILY TYPE,B17011,https://api.census.gov/data/2015/acs/acs5/groups/B17011.json
13,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF PERSONS IN FAMILY,B17013,https://api.census.gov/data/2015/acs/acs5/groups/B17013.json
15,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF WORKERS IN FAMILY,B17014,https://api.census.gov/data/2015/acs/acs5/groups/B17014.json
20,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN,B17010,https://api.census.gov/data/2015/acs/acs5/groups/B17010.json
46,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS,B17006,https://api.census.gov/data/2015/acs/acs5/groups/B17006.json
171,AGGREGATE NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY SEX OF HOUSEHOLDER BY LIVING ALONE BY AGE OF HOUSEHOLDER,B19216,https://api.census.gov/data/2015/acs/acs5/groups/B19216.json
172,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY SEX OF HOUSEHOLDER BY LIVING ALONE BY AGE OF HOUSEHOLDER,B19215,https://api.census.gov/data/2015/acs/acs5/groups/B19215.json
173,AGGREGATE NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS),B19214,https://api.census.gov/data/2015/acs/acs5/groups/B19214.json
187,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN,B17022,https://api.census.gov/data/2015/acs/acs5/groups/B17022.json
188,NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS),B19201,https://api.census.gov/data/2015/acs/acs5/groups/B19201.json
193,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS),B19202,https://api.census.gov/data/2015/acs/acs5/groups/B19202.json
384,PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY EMPLOYMENT STATUS,B23007,https://api.census.gov/data/2015/acs/acs5/groups/B23007.json
386,PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY NUMBER OF WORKERS IN FAMILY IN THE PAST 12 MONTHS,B23009,https://api.census.gov/data/2015/acs/acs5/groups/B23009.json
395,NONFAMILY HOUSEHOLDS BY SEX OF HOUSEHOLDER BY LIVING ALONE BY AGE OF HOUSEHOLDER,B11010,https://api.census.gov/data/2015/acs/acs5/groups/B11010.json
402,POPULATION IN SUBFAMILIES BY SUBFAMILY TYPE BY RELATIONSHIP,B11014,https://api.census.gov/data/2015/acs/acs5/groups/B11014.json
403,SUBFAMILY TYPE BY PRESENCE OF OWN CHILDREN UNDER 18 YEARS,B11013,https://api.census.gov/data/2015/acs/acs5/groups/B11013.json
412,FAMILY TYPE BY PRESENCE AND AGE OF OWN CHILDREN UNDER 18 YEARS,B11003,https://api.census.gov/data/2015/acs/acs5/groups/B11003.json
416,FAMILY TYPE BY PRESENCE AND AGE OF RELATED CHILDREN UNDER 18 YEARS,B11004,https://api.census.gov/data/2015/acs/acs5/groups/B11004.json
516,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER),B19101B,https://api.census.gov/data/2015/acs/acs5/groups/B19101B.json
517,FAMILY TYPE BY PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS),B19131,https://api.census.gov/data/2015/acs/acs5/groups/B19131.json
518,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER),B19101C,https://api.census.gov/data/2015/acs/acs5/groups/B19101C.json
519,AGGREGATE FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY TYPE BY AGE OF HOUSEHOLDER,B19130,https://api.census.gov/data/2015/acs/acs5/groups/B19130.json
521,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER),B19101A,https://api.census.gov/data/2015/acs/acs5/groups/B19101A.json
522,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER),B19101F,https://api.census.gov/data/2015/acs/acs5/groups/B19101F.json
523,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER),B19101G,https://api.census.gov/data/2015/acs/acs5/groups/B19101G.json
524,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER),B19101D,https://api.census.gov/data/2015/acs/acs5/groups/B19101D.json
525,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER),B19101E,https://api.census.gov/data/2015/acs/acs5/groups/B19101E.json
532,AGGREGATE FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY TYPE BY PRESENCE OF OWN CHILDREN UNDER 18 YEARS,B19128,https://api.census.gov/data/2015/acs/acs5/groups/B19128.json
...,...,...,...
558,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER),B19101I,https://api.census.gov/data/2015/acs/acs5/groups/B19101I.json
568,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN (HISPANIC OR LATINO),B17010I,https://api.census.gov/data/2015/acs/acs5/groups/B17010I.json
569,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN (TWO OR MORE RACES HOUSEHOLDER),B17010G,https://api.census.gov/data/2015/acs/acs5/groups/B17010G.json
570,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER)",B17010H,https://api.census.gov/data/2015/acs/acs5/groups/B17010H.json
660,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,https://api.census.gov/data/2015/acs/acs5/groups/B19119.json
661,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS),B19113,https://api.census.gov/data/2015/acs/acs5/groups/B19113.json
672,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS),B19101,https://api.census.gov/data/2015/acs/acs5/groups/B19101.json
918,IMPUTATION OF FAMILY INCOME IN THE PAST 12 MONTHS -- PERCENT OF INCOME IMPUTED,B99193,https://api.census.gov/data/2015/acs/acs5/groups/B99193.json
923,IMPUTATION OF NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS -- PERCENT OF INCOME IMPUTED,B99194,https://api.census.gov/data/2015/acs/acs5/groups/B99194.json
936,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER),B19113C,https://api.census.gov/data/2015/acs/acs5/groups/B19113C.json
937,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER),B19113D,https://api.census.gov/data/2015/acs/acs5/groups/B19113D.json
938,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER),B19113A,https://api.census.gov/data/2015/acs/acs5/groups/B19113A.json
939,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER),B19113B,https://api.census.gov/data/2015/acs/acs5/groups/B19113B.json
940,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES),B19113G,https://api.census.gov/data/2015/acs/acs5/groups/B19113G.json
941,"MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER)",B19113H,https://api.census.gov/data/2015/acs/acs5/groups/B19113H.json
942,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER),B19113E,https://api.census.gov/data/2015/acs/acs5/groups/B19113E.json
943,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER),B19113F,https://api.census.gov/data/2015/acs/acs5/groups/B19113F.json
965,RECEIPT OF FOOD STAMPS/SNAP IN THE PAST 12 MONTHS BY FAMILY TYPE BY NUMBER OF WORKERS IN FAMILY IN THE PAST 12 MONTHS,B22007,https://api.census.gov/data/2015/acs/acs5/groups/B22007.json
993,MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPARENT HOUSEHOLDERS AND/OR SPOUSES LIVING WITH OWN GRANDCHILDREN UNDER 18 YEARS BY RESPONSIBILITY FOR OWN GRANDCHILDREN AND PRESENCE OF PARENT OF GRANDCHILDREN,B10010,https://api.census.gov/data/2015/acs/acs5/groups/B10010.json
1003,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER),B19113I,https://api.census.gov/data/2015/acs/acs5/groups/B19113I.json
1007,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER),B19202A,https://api.census.gov/data/2015/acs/acs5/groups/B19202A.json
1011,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER),B19202E,https://api.census.gov/data/2015/acs/acs5/groups/B19202E.json
1013,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER),B19202D,https://api.census.gov/data/2015/acs/acs5/groups/B19202D.json
1015,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER),B19202C,https://api.census.gov/data/2015/acs/acs5/groups/B19202C.json
1017,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER),B19202B,https://api.census.gov/data/2015/acs/acs5/groups/B19202B.json
1018,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER),B19202I,https://api.census.gov/data/2015/acs/acs5/groups/B19202I.json
1021,"MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER)",B19202H,https://api.census.gov/data/2015/acs/acs5/groups/B19202H.json
1024,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER),B19202G,https://api.census.gov/data/2015/acs/acs5/groups/B19202G.json
1027,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER),B19202F,https://api.census.gov/data/2015/acs/acs5/groups/B19202F.json
1037,OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE AND AGE,B09002,https://api.census.gov/data/2015/acs/acs5/groups/B09002.json

In [65]:
# Determine which table you're interested in
table_id = 'B19119'

# Capture the variables URL from the table_df
url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make the API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(15)

Number of available variables: 28

,concept,group,label,limit,predicateOnly,predicateType
B19119_007MA,NaN,B19119,Annotation of Margin of Error!!Total!!7-or-more-person families,0,True,string
B19119_007EA,NaN,B19119,Annotation of Estimate!!Total!!7-or-more-person families,0,True,string
B19119_006EA,NaN,B19119,Annotation of Estimate!!Total!!6-person families,0,True,string
B19119_006MA,NaN,B19119,Annotation of Margin of Error!!Total!!6-person families,0,True,string
B19119_001MA,NaN,B19119,Annotation of Margin of Error!!Total,0,True,string
B19119_001EA,NaN,B19119,Annotation of Estimate!!Total,0,True,string
B19119_005MA,NaN,B19119,Annotation of Margin of Error!!Total!!5-person families,0,True,string
B19119_005EA,NaN,B19119,Annotation of Estimate!!Total!!5-person families,0,True,string
B19119_004MA,NaN,B19119,Annotation of Margin of Error!!Total!!4-person families,0,True,string
B19119_004EA,NaN,B19119,Annotation of Estimate!!Total!!4-person families,0,True,string
B19119_003MA,NaN,B19119,Annotation of Margin of Error!!Total!!3-person families,0,True,string
B19119_003EA,NaN,B19119,Annotation of Estimate!!Total!!3-person families,0,True,string
B19119_002MA,NaN,B19119,Annotation of Margin of Error!!Total!!2-person families,0,True,string
B19119_002EA,NaN,B19119,Annotation of Estimate!!Total!!2-person families,0,True,string
B19119_005E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!5-person families,0,True,int

In [66]:
variables[variables['predicateType']=='int'].head()

,concept,group,label,limit,predicateOnly,predicateType
B19119_005E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!5-person families,0,True,int
B19119_005M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!5-person families,0,True,int
B19119_006E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!6-person families,0,True,int
B19119_006M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!6-person families,0,True,int
B19119_007E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!7-or-more-person families,0,True,int

In [67]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E"), 
                         {'for': 'zip code tabulation area:*'})

census_data[:5]

[{'NAME': 'ZCTA5 12810',
  'B19013_001E': 57500.0,
  'B01003_001E': 724.0,
  'B01002_001E': 46.5,
  'B19301_001E': 25551.0,
  'zip code tabulation area': '12810'},
 {'NAME': 'ZCTA5 12811',
  'B19013_001E': -666666666.0,
  'B01003_001E': 67.0,
  'B01002_001E': 45.9,
  'B19301_001E': 11590.0,
  'zip code tabulation area': '12811'},
 {'NAME': 'ZCTA5 12812',
  'B19013_001E': 49583.0,
  'B01003_001E': 58.0,
  'B01002_001E': 64.1,
  'B19301_001E': 23600.0,
  'zip code tabulation area': '12812'},
 {'NAME': 'ZCTA5 12814',
  'B19013_001E': 58176.0,
  'B01003_001E': 1282.0,
  'B01002_001E': 46.4,
  'B19301_001E': 35508.0,
  'zip code tabulation area': '12814'},
 {'NAME': 'ZCTA5 12815',
  'B19013_001E': 60458.0,
  'B01003_001E': 1103.0,
  'B01002_001E': 54.2,
  'B19301_001E': 30685.0,
  'zip code tabulation area': '12815'}]

In [68]:
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Renaming columns to be more user-friendly
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "NAME": "Name", 
                                      "zip code tabulation area": "Zipcode"})

# Since Census doesn't provide the poverty rate, we can divide Poverty Count by Population to calculate it ourselves
#census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Reorder columns and only include ones we're interested in for the final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income"]]

# Visualize
# print("Total number of zip codes in response: " + str(len(census_pd)))
census_pd.head(50)

   Zipcode  Population   Median Age  Household Income  Per Capita Income
0    12810       724.0         46.5           57500.0            25551.0
1    12811        67.0         45.9      -666666666.0            11590.0
2    12812        58.0         64.1           49583.0            23600.0
3    12814      1282.0         46.4           58176.0            35508.0
4    12815      1103.0         54.2           60458.0            30685.0
5    12816      4417.0         46.9           50417.0            26988.0
6    12817      2330.0         45.2           59861.0            26976.0
7    12819       309.0         55.6           43839.0            23297.0
8    12821      2816.0         35.6           34000.0             3450.0
9    12822      6277.0         40.4           52578.0            24178.0
10   12823       369.0         54.7           82639.0            26705.0
11   12824      1114.0         55.7           61650.0            38444.0
12   12827      3800.0         43.6           62917.0            25545.0
13   12828      9363.0         44.2           51250.0            28026.0
14   12831     17727.0         40.7           78505.0            32984.0
15   12832      6618.0         45.0           43918.0            22318.0
16   12833      4183.0         47.9           65898.0            32373.0
17   12834      6104.0         44.2           56104.0            30289.0
18   12835      2344.0         51.2           51148.0            25733.0
19   12836       682.0         55.4           61739.0            30614.0
20   12837       941.0         44.6           45446.0            22653.0
21   12838       559.0         49.3           56250.0            31448.0
22   12839     13740.0         37.4           44350.0            21932.0
23   12841       100.0         68.2           27500.0            42708.0
24   12842       730.0         48.8           37321.0            33690.0
25   12843       539.0         48.4           38393.0            22477.0
26   12844       263.0         53.0           60000.0            34329.0
27   12845      4792.0         51.5           66710.0            38335.0
28   12846      3265.0         44.0           53112.0            24880.0
29   12847       389.0         53.3           62917.0            39498.0
30   12849       623.0         37.8           70263.0            23449.0
31   12850      3143.0         41.1           74622.0            33741.0
32   12851       257.0         57.1           48036.0            25082.0
33   12852       447.0         61.3           46094.0            26045.0
34   12853      1228.0         55.8           38906.0            19898.0
35   12855       196.0         52.8           44583.0            24458.0
36   12857       602.0         44.6           49397.0            23297.0
37   12859      2297.0         37.6           55776.0            28881.0
38   12860       794.0         34.5           38043.0            16475.0
39   12861       742.0         51.0           63125.0            38021.0
40   12862         5.0 -666666666.0      -666666666.0                NaN
41   12863       690.0         44.6           69125.0            32134.0
42   12864        37.0         65.8      -666666666.0            28395.0
43   12865      3833.0         46.7           57000.0            24995.0
44   12866     37050.0         41.2           70515.0            40229.0
45   12870       836.0         50.9           55938.0            32013.0
46   12871      4284.0         40.2           64653.0            33067.0
47   12872        41.0         49.8           28750.0             8980.0
48   12873       695.0         50.6           48750.0            28567.0
49   12874       142.0         68.8           69583.0            53814.0

In [69]:
census_pd['Zipcode'] = census_pd['Zipcode'].astype('str')
census_pd.to_csv("census_data_2015.csv", encoding="utf-8", index=False)

## EXPORTED CSV FROM CENSUS DATABASE FORMATTING

In [96]:
# Load csv file

census_2015 = os.path.join("data", "census_data_2015.csv")
census_2016 = os.path.join("data", "census_data_2016.csv")
census_2017 = os.path.join("data", "census_data_2017.csv")


census_2015_pd = pd.read_csv(census_2015, dtype ='str')
census_2016_pd = pd.read_csv(census_2016, dtype ='str')
census_2017_pd = pd.read_csv(census_2017, dtype ='str')

### This section is for cleaning the csv. Make sure you select the year you desire to format.

#### Check if there are null values in the data

In [102]:
census_2017_pd.isnull().any()

Zipcode              False
Population           False
Median Age           False
Household Income     False
Per Capita Income     True
dtype: bool

#### There is a -666666666.0 value that needs to be replaced with NaN

In [103]:

census_2017_pd_clean = census_2017_pd.replace('-666666666.0', np.nan)
census_2017_pd_clean

      Zipcode Population Median Age Household Income Per Capita Income
0       00601    17599.0       38.9          11757.0            7041.0
1       00602    39209.0       40.9          16190.0            8978.0
2       00603    50135.0       40.4          16645.0           10897.0
3       00606     6304.0       42.8          13387.0            5960.0
4       00610    27590.0       41.4          18741.0            9266.0
5       00612    62566.0       41.4          17744.0           10283.0
6       00616    10687.0       43.7          14918.0            9002.0
7       00617    24508.0       38.7          17157.0            8762.0
8       00622     7405.0       48.4          16727.0           11935.0
9       00623    42321.0       41.3          16401.0            9101.0
10      00624    23238.0       37.2          16832.0            8072.0
11      00627    32936.0       40.1          17579.0            9738.0
12      00631     1555.0       48.2           9632.0            7690.0
13      00637    23610.0       40.9          15736.0            9158.0
14      00638    17202.0       40.3          14448.0            8108.0
15      00641    28332.0       41.9          16292.0            8305.0
16      00646    38008.0       39.4          29160.0           15397.0
17      00647     5610.0       47.1          13071.0            7058.0
18      00650    14664.0       38.6          16095.0            7698.0
19      00652     3681.0       38.8          20564.0           11439.0
20      00653    11717.0       38.7          12236.0            7279.0
21      00656    19546.0       40.3          14966.0            8327.0
22      00659    40978.0       40.7          17770.0           10360.0
23      00660    16474.0       45.1          19674.0           11588.0
24      00662    41341.0       40.6          16771.0            8883.0
25      00664    15396.0       36.3          15401.0            7134.0
26      00667    24089.0       43.6          13843.0            7256.0
27      00669    26510.0       40.9          12996.0            8236.0
28      00670     8797.0       40.1          14456.0            7293.0
29      00674    40826.0       41.1          18032.0           10520.0
...       ...        ...        ...              ...               ...
33090   99786      299.0       26.9          44500.0           15937.0
33091   99788      119.0       34.4          28750.0           19081.0
33092   99789      395.0       25.4          82813.0           22481.0
33093   99790        7.0        NaN              NaN               NaN
33094   99791      172.0       24.5          61250.0           20597.0
33095   99801    30179.0       38.2          91743.0           41968.0
33096   99820      540.0       42.7          36000.0           34954.0
33097   99824     2255.0       35.5          75577.0           41057.0
33098   99825       89.0       58.5          88500.0           50983.0
33099   99826      386.0       53.3          61875.0           39582.0
33100   99827     2599.0       45.5          70091.0           35619.0
33101   99829      828.0       46.1          60625.0           28857.0
33102   99830      635.0       37.2          51250.0           18955.0
33103   99832       94.0       55.5          67917.0           33720.0
33104   99833     3275.0       41.7          63490.0           35044.0
33105   99835     8810.0       38.9          70765.0           36617.0
33106   99836       60.0       40.7          66875.0           30355.0
33107   99840     1038.0       42.9          70673.0           39376.0
33108   99841      147.0       61.3          59688.0           34670.0
33109   99901    13768.0       39.5          67321.0           33755.0
33110   99903       20.0        NaN              NaN               NaN
33111   99918      174.0       57.8          63125.0           34149.0
33112   99919      660.0       47.8          50956.0           31413.0
33113   99921     1971.0       41.1          58047.0           33002.0
33114   99922      306.0       45.0          31250.0           16408.0
33115   99923        0.0        NaN              NaN               NaN
33116   99925      901.0       45.1          48646.0           24783.0
33117   99926     1684.0       32.8          57969.0           22927.0
33118   99927       59.0       49.8          17981.0           11959.0
33119   99929     2455.0       49.0          55742.0           29861.0

[33120 rows x 5 columns]

#### Drop NaN values from the dataframe

In [104]:
census_2017_pd_nonan = census_2017_pd_clean.dropna(how='any')

In [105]:
census_2017_pd_nonan

      Zipcode Population Median Age Household Income Per Capita Income
0       00601    17599.0       38.9          11757.0            7041.0
1       00602    39209.0       40.9          16190.0            8978.0
2       00603    50135.0       40.4          16645.0           10897.0
3       00606     6304.0       42.8          13387.0            5960.0
4       00610    27590.0       41.4          18741.0            9266.0
5       00612    62566.0       41.4          17744.0           10283.0
6       00616    10687.0       43.7          14918.0            9002.0
7       00617    24508.0       38.7          17157.0            8762.0
8       00622     7405.0       48.4          16727.0           11935.0
9       00623    42321.0       41.3          16401.0            9101.0
10      00624    23238.0       37.2          16832.0            8072.0
11      00627    32936.0       40.1          17579.0            9738.0
12      00631     1555.0       48.2           9632.0            7690.0
13      00637    23610.0       40.9          15736.0            9158.0
14      00638    17202.0       40.3          14448.0            8108.0
15      00641    28332.0       41.9          16292.0            8305.0
16      00646    38008.0       39.4          29160.0           15397.0
17      00647     5610.0       47.1          13071.0            7058.0
18      00650    14664.0       38.6          16095.0            7698.0
19      00652     3681.0       38.8          20564.0           11439.0
20      00653    11717.0       38.7          12236.0            7279.0
21      00656    19546.0       40.3          14966.0            8327.0
22      00659    40978.0       40.7          17770.0           10360.0
23      00660    16474.0       45.1          19674.0           11588.0
24      00662    41341.0       40.6          16771.0            8883.0
25      00664    15396.0       36.3          15401.0            7134.0
26      00667    24089.0       43.6          13843.0            7256.0
27      00669    26510.0       40.9          12996.0            8236.0
28      00670     8797.0       40.1          14456.0            7293.0
29      00674    40826.0       41.1          18032.0           10520.0
...       ...        ...        ...              ...               ...
33087   99783      159.0       25.5          31250.0           12675.0
33088   99784      173.0       30.3          38125.0           18612.0
33089   99785      421.0       22.0          33750.0            8425.0
33090   99786      299.0       26.9          44500.0           15937.0
33091   99788      119.0       34.4          28750.0           19081.0
33092   99789      395.0       25.4          82813.0           22481.0
33094   99791      172.0       24.5          61250.0           20597.0
33095   99801    30179.0       38.2          91743.0           41968.0
33096   99820      540.0       42.7          36000.0           34954.0
33097   99824     2255.0       35.5          75577.0           41057.0
33098   99825       89.0       58.5          88500.0           50983.0
33099   99826      386.0       53.3          61875.0           39582.0
33100   99827     2599.0       45.5          70091.0           35619.0
33101   99829      828.0       46.1          60625.0           28857.0
33102   99830      635.0       37.2          51250.0           18955.0
33103   99832       94.0       55.5          67917.0           33720.0
33104   99833     3275.0       41.7          63490.0           35044.0
33105   99835     8810.0       38.9          70765.0           36617.0
33106   99836       60.0       40.7          66875.0           30355.0
33107   99840     1038.0       42.9          70673.0           39376.0
33108   99841      147.0       61.3          59688.0           34670.0
33109   99901    13768.0       39.5          67321.0           33755.0
33111   99918      174.0       57.8          63125.0           34149.0
33112   99919      660.0       47.8          50956.0           31413.0
33113   99921     1971.0       41.1          58047.0           33002.0
33114   99922      306.0       45.0          31250.0           16408.0
33116   99925      901.0       45.1          48646.0           24783.0
33117   99926     1684.0       32.8          57969.0           22927.0
33118   99927       59.0       49.8          17981.0           11959.0
33119   99929     2455.0       49.0          55742.0           29861.0

[30954 rows x 5 columns]

#### Export csv

In [106]:
census_2017_pd_nonan.to_csv("census_data_2017_clean.csv", encoding="utf-8", index=False)