## CENSUS DATABASE 2011-2018

In [15]:
import pandas as pd
from census import Census
import requests
import os
import numpy as np

# Census API Key
from config import api_key

# provide the api key and the year to establish a session
c = Census(api_key, year=2017)

# Set an option to allow up to 300 characters to print in each column
pd.set_option('max_colwidth', 300)

In [5]:
# query for all tables
tables = c.acs5.tables()

# The tables variable contains a list of dicts, so we can convert directly to a dataframe
table_df = pd.DataFrame(tables)
print(f"Number of available tables: {len(table_df)}")
table_df.head()

Number of available tables: 1127

,description,name,variables
0,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY SOCIAL SECURITY INCOME BY SUPPLEMENTAL SECURITY INCOME (SSI) AND CASH PUBLIC ASSISTANCE INCOME,B17015,https://api.census.gov/data/2017/acs/acs5/groups/B17015.json
1,SEX BY AGE BY COGNITIVE DIFFICULTY,B18104,https://api.census.gov/data/2017/acs/acs5/groups/B18104.json
2,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY WORK EXPERIENCE OF HOUSEHOLDER AND SPOUSE,B17016,https://api.census.gov/data/2017/acs/acs5/groups/B17016.json
3,SEX BY AGE BY AMBULATORY DIFFICULTY,B18105,https://api.census.gov/data/2017/acs/acs5/groups/B18105.json
4,POVERTY STATUS IN THE PAST 12 MONTHS BY HOUSEHOLD TYPE BY AGE OF HOUSEHOLDER,B17017,https://api.census.gov/data/2017/acs/acs5/groups/B17017.json

In [6]:
# Filter database : Income
table_df[table_df['description'].str.contains("FAMILY")]

,description,name,variables
0,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY SOCIAL SECURITY INCOME BY SUPPLEMENTAL SECURITY INCOME (SSI) AND CASH PUBLIC ASSISTANCE INCOME,B17015,https://api.census.gov/data/2017/acs/acs5/groups/B17015.json
2,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY WORK EXPERIENCE OF HOUSEHOLDER AND SPOUSE,B17016,https://api.census.gov/data/2017/acs/acs5/groups/B17016.json
10,AGGREGATE INCOME DEFICIT (DOLLARS) IN THE PAST 12 MONTHS FOR FAMILIES BY FAMILY TYPE,B17011,https://api.census.gov/data/2017/acs/acs5/groups/B17011.json
13,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF PERSONS IN FAMILY,B17013,https://api.census.gov/data/2017/acs/acs5/groups/B17013.json
15,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY NUMBER OF WORKERS IN FAMILY,B17014,https://api.census.gov/data/2017/acs/acs5/groups/B17014.json
21,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN,B17010,https://api.census.gov/data/2017/acs/acs5/groups/B17010.json
46,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS,B17006,https://api.census.gov/data/2017/acs/acs5/groups/B17006.json
180,AGGREGATE NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY SEX OF HOUSEHOLDER BY LIVING ALONE BY AGE OF HOUSEHOLDER,B19216,https://api.census.gov/data/2017/acs/acs5/groups/B19216.json
181,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY SEX OF HOUSEHOLDER BY LIVING ALONE BY AGE OF HOUSEHOLDER,B19215,https://api.census.gov/data/2017/acs/acs5/groups/B19215.json
182,AGGREGATE NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS),B19214,https://api.census.gov/data/2017/acs/acs5/groups/B19214.json
197,NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS),B19201,https://api.census.gov/data/2017/acs/acs5/groups/B19201.json
198,RATIO OF INCOME TO POVERTY LEVEL IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN,B17022,https://api.census.gov/data/2017/acs/acs5/groups/B17022.json
201,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS),B19202,https://api.census.gov/data/2017/acs/acs5/groups/B19202.json
410,PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY EMPLOYMENT STATUS,B23007,https://api.census.gov/data/2017/acs/acs5/groups/B23007.json
412,PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY NUMBER OF WORKERS IN FAMILY IN THE PAST 12 MONTHS,B23009,https://api.census.gov/data/2017/acs/acs5/groups/B23009.json
421,NONFAMILY HOUSEHOLDS BY SEX OF HOUSEHOLDER BY LIVING ALONE BY AGE OF HOUSEHOLDER,B11010,https://api.census.gov/data/2017/acs/acs5/groups/B11010.json
428,POPULATION IN SUBFAMILIES BY SUBFAMILY TYPE BY RELATIONSHIP,B11014,https://api.census.gov/data/2017/acs/acs5/groups/B11014.json
429,SUBFAMILY TYPE BY PRESENCE OF OWN CHILDREN UNDER 18 YEARS,B11013,https://api.census.gov/data/2017/acs/acs5/groups/B11013.json
438,FAMILY TYPE BY PRESENCE AND AGE OF OWN CHILDREN UNDER 18 YEARS,B11003,https://api.census.gov/data/2017/acs/acs5/groups/B11003.json
442,FAMILY TYPE BY PRESENCE AND AGE OF RELATED CHILDREN UNDER 18 YEARS,B11004,https://api.census.gov/data/2017/acs/acs5/groups/B11004.json
544,FAMILY TYPE BY PRESENCE OF OWN CHILDREN UNDER 18 YEARS BY FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS),B19131,https://api.census.gov/data/2017/acs/acs5/groups/B19131.json
545,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER),B19101B,https://api.census.gov/data/2017/acs/acs5/groups/B19101B.json
547,AGGREGATE FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY TYPE BY AGE OF HOUSEHOLDER,B19130,https://api.census.gov/data/2017/acs/acs5/groups/B19130.json
548,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER),B19101C,https://api.census.gov/data/2017/acs/acs5/groups/B19101C.json
549,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER),B19101A,https://api.census.gov/data/2017/acs/acs5/groups/B19101A.json
550,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER),B19101F,https://api.census.gov/data/2017/acs/acs5/groups/B19101F.json
551,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER),B19101G,https://api.census.gov/data/2017/acs/acs5/groups/B19101G.json
552,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER),B19101D,https://api.census.gov/data/2017/acs/acs5/groups/B19101D.json
553,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER),B19101E,https://api.census.gov/data/2017/acs/acs5/groups/B19101E.json
563,AGGREGATE FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY TYPE BY PRESENCE OF OWN CHILDREN UNDER 18 YEARS,B19128,https://api.census.gov/data/2017/acs/acs5/groups/B19128.json
...,...,...,...
599,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER),B19101I,https://api.census.gov/data/2017/acs/acs5/groups/B19101I.json
609,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN (HISPANIC OR LATINO),B17010I,https://api.census.gov/data/2017/acs/acs5/groups/B17010I.json
610,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN (TWO OR MORE RACES HOUSEHOLDER),B17010G,https://api.census.gov/data/2017/acs/acs5/groups/B17010G.json
612,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY FAMILY TYPE BY PRESENCE OF RELATED CHILDREN UNDER 18 YEARS BY AGE OF RELATED CHILDREN (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER)",B17010H,https://api.census.gov/data/2017/acs/acs5/groups/B17010H.json
711,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,https://api.census.gov/data/2017/acs/acs5/groups/B19119.json
712,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS),B19113,https://api.census.gov/data/2017/acs/acs5/groups/B19113.json
724,FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS),B19101,https://api.census.gov/data/2017/acs/acs5/groups/B19101.json
999,ALLOCATION OF FAMILY INCOME IN THE PAST 12 MONTHS -- PERCENT OF INCOME ALLOCATED,B99193,https://api.census.gov/data/2017/acs/acs5/groups/B99193.json
1004,ALLOCATION OF NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS -- PERCENT OF INCOME ALLOCATED,B99194,https://api.census.gov/data/2017/acs/acs5/groups/B99194.json
1018,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER),B19113C,https://api.census.gov/data/2017/acs/acs5/groups/B19113C.json
1019,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER),B19113D,https://api.census.gov/data/2017/acs/acs5/groups/B19113D.json
1020,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER),B19113A,https://api.census.gov/data/2017/acs/acs5/groups/B19113A.json
1021,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER),B19113B,https://api.census.gov/data/2017/acs/acs5/groups/B19113B.json
1022,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES),B19113G,https://api.census.gov/data/2017/acs/acs5/groups/B19113G.json
1023,"MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER)",B19113H,https://api.census.gov/data/2017/acs/acs5/groups/B19113H.json
1024,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER),B19113E,https://api.census.gov/data/2017/acs/acs5/groups/B19113E.json
1025,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER),B19113F,https://api.census.gov/data/2017/acs/acs5/groups/B19113F.json
1047,RECEIPT OF FOOD STAMPS/SNAP IN THE PAST 12 MONTHS BY FAMILY TYPE BY NUMBER OF WORKERS IN FAMILY IN THE PAST 12 MONTHS,B22007,https://api.census.gov/data/2017/acs/acs5/groups/B22007.json
1075,MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPARENT HOUSEHOLDERS AND/OR SPOUSES LIVING WITH OWN GRANDCHILDREN UNDER 18 YEARS BY RESPONSIBILITY FOR OWN GRANDCHILDREN AND PRESENCE OF PARENT OF GRANDCHILDREN,B10010,https://api.census.gov/data/2017/acs/acs5/groups/B10010.json
1085,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER),B19113I,https://api.census.gov/data/2017/acs/acs5/groups/B19113I.json
1088,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER),B19202A,https://api.census.gov/data/2017/acs/acs5/groups/B19202A.json
1092,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER),B19202E,https://api.census.gov/data/2017/acs/acs5/groups/B19202E.json
1094,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER),B19202D,https://api.census.gov/data/2017/acs/acs5/groups/B19202D.json
1096,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER),B19202C,https://api.census.gov/data/2017/acs/acs5/groups/B19202C.json
1098,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER),B19202B,https://api.census.gov/data/2017/acs/acs5/groups/B19202B.json
1101,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER),B19202I,https://api.census.gov/data/2017/acs/acs5/groups/B19202I.json
1103,"MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER)",B19202H,https://api.census.gov/data/2017/acs/acs5/groups/B19202H.json
1106,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER),B19202G,https://api.census.gov/data/2017/acs/acs5/groups/B19202G.json
1109,MEDIAN NONFAMILY HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER),B19202F,https://api.census.gov/data/2017/acs/acs5/groups/B19202F.json
1119,OWN CHILDREN UNDER 18 YEARS BY FAMILY TYPE AND AGE,B09002,https://api.census.gov/data/2017/acs/acs5/groups/B09002.json

In [7]:
# Determine which table you're interested in
table_id = 'B19119'

# Capture the variables URL from the table_df
url = table_df.loc[table_df['name']==table_id, 'variables'].values[0]

# Make the API call
response = requests.get(url).json()

# convert the response to a DataFrame
variables = pd.DataFrame(response['variables']).transpose()

print(f"Number of available variables: {len(variables)}")
variables.head(15)

Number of available variables: 28

,concept,group,label,limit,predicateOnly,predicateType
B19119_005E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!5-person families,0,True,int
B19119_005M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!5-person families,0,True,int
B19119_006E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!6-person families,0,True,int
B19119_006M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!6-person families,0,True,int
B19119_007E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!7-or-more-person families,0,True,int
B19119_007M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!7-or-more-person families,0,True,int
B19119_001E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total,0,True,int
B19119_001M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total,0,True,int
B19119_002E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!2-person families,0,True,int
B19119_002M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!2-person families,0,True,int
B19119_003E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!3-person families,0,True,int
B19119_003M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!3-person families,0,True,int
B19119_004E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!4-person families,0,True,int
B19119_004M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!4-person families,0,True,int
B19119_007MA,NaN,B19119,Annotation of Margin of Error!!Total!!7-or-more-person families,0,True,string

In [8]:
variables[variables['predicateType']=='int'].head()

,concept,group,label,limit,predicateOnly,predicateType
B19119_005E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!5-person families,0,True,int
B19119_005M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!5-person families,0,True,int
B19119_006E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!6-person families,0,True,int
B19119_006M,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Margin of Error!!Total!!6-person families,0,True,int
B19119_007E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) BY FAMILY SIZE,B19119,Estimate!!Total!!7-or-more-person families,0,True,int

In [9]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E"), 
                         {'for': 'zip code tabulation area:*'})

census_data[:5]

[{'NAME': 'ZCTA5 00601',
  'B19013_001E': 11757.0,
  'B01003_001E': 17599.0,
  'B01002_001E': 38.9,
  'B19301_001E': 7041.0,
  'zip code tabulation area': '00601'},
 {'NAME': 'ZCTA5 00602',
  'B19013_001E': 16190.0,
  'B01003_001E': 39209.0,
  'B01002_001E': 40.9,
  'B19301_001E': 8978.0,
  'zip code tabulation area': '00602'},
 {'NAME': 'ZCTA5 00603',
  'B19013_001E': 16645.0,
  'B01003_001E': 50135.0,
  'B01002_001E': 40.4,
  'B19301_001E': 10897.0,
  'zip code tabulation area': '00603'},
 {'NAME': 'ZCTA5 00606',
  'B19013_001E': 13387.0,
  'B01003_001E': 6304.0,
  'B01002_001E': 42.8,
  'B19301_001E': 5960.0,
  'zip code tabulation area': '00606'},
 {'NAME': 'ZCTA5 00610',
  'B19013_001E': 18741.0,
  'B01003_001E': 27590.0,
  'B01002_001E': 41.4,
  'B19301_001E': 9266.0,
  'zip code tabulation area': '00610'}]

In [10]:
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Renaming columns to be more user-friendly
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "NAME": "Name", 
                                      "zip code tabulation area": "Zipcode"})

# Since Census doesn't provide the poverty rate, we can divide Poverty Count by Population to calculate it ourselves
#census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Reorder columns and only include ones we're interested in for the final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income"]]

# Visualize
print("Total number of zip codes in response: " + str(len(census_pd)))
census_pd.head(50)

Total number of zip codes in response: 33120

   Zipcode  Population  Median Age  Household Income  Per Capita Income
0    00601     17599.0        38.9           11757.0             7041.0
1    00602     39209.0        40.9           16190.0             8978.0
2    00603     50135.0        40.4           16645.0            10897.0
3    00606      6304.0        42.8           13387.0             5960.0
4    00610     27590.0        41.4           18741.0             9266.0
5    00612     62566.0        41.4           17744.0            10283.0
6    00616     10687.0        43.7           14918.0             9002.0
7    00617     24508.0        38.7           17157.0             8762.0
8    00622      7405.0        48.4           16727.0            11935.0
9    00623     42321.0        41.3           16401.0             9101.0
10   00624     23238.0        37.2           16832.0             8072.0
11   00627     32936.0        40.1           17579.0             9738.0
12   00631      1555.0        48.2            9632.0             7690.0
13   00637     23610.0        40.9           15736.0             9158.0
14   00638     17202.0        40.3           14448.0             8108.0
15   00641     28332.0        41.9           16292.0             8305.0
16   00646     38008.0        39.4           29160.0            15397.0
17   00647      5610.0        47.1           13071.0             7058.0
18   00650     14664.0        38.6           16095.0             7698.0
19   00652      3681.0        38.8           20564.0            11439.0
20   00653     11717.0        38.7           12236.0             7279.0
21   00656     19546.0        40.3           14966.0             8327.0
22   00659     40978.0        40.7           17770.0            10360.0
23   00660     16474.0        45.1           19674.0            11588.0
24   00662     41341.0        40.6           16771.0             8883.0
25   00664     15396.0        36.3           15401.0             7134.0
26   00667     24089.0        43.6           13843.0             7256.0
27   00669     26510.0        40.9           12996.0             8236.0
28   00670      8797.0        40.1           14456.0             7293.0
29   00674     40826.0        41.1           18032.0            10520.0
30   00676     37862.0        38.6           13416.0             7893.0
31   00677     14569.0        44.6           18333.0            10236.0
32   00678     26642.0        39.3           15730.0             9103.0
33   00680     48035.0        41.6           14500.0            10277.0
34   00682     32820.0        37.3           15315.0            11236.0
35   00683     31627.0        42.9           15043.0             9547.0
36   00685     38849.0        42.6           14128.0             8080.0
37   00687     31785.0        37.0           18739.0             8816.0
38   00688     12360.0        40.7           15918.0             8636.0
39   00690      5587.0        41.9           18491.0            10644.0
40   00692     36218.0        37.6           18076.0            10586.0
41   00693     56327.0        40.0           18971.0            10209.0
42   00694        88.0        73.1           14375.0             7647.0
43   00698     37493.0        42.0           14487.0             8139.0
44   00703     27137.0        40.2           16532.0            10235.0
45   00704      7842.0        36.0           13960.0             7585.0
46   00705     23831.0        40.6           18207.0            10172.0
47   00707     11240.0        43.5           17489.0             8761.0
48   00714     18363.0        38.8           15820.0             7685.0
49   00715      3645.0        41.3           12440.0             7579.0

In [11]:
census_pd.to_csv("census_data_2018.csv", encoding="utf-8", index=False)

## EXPORTED CSV FROM CENSUS DATABASE FORMATTING

In [32]:
# Load csv file

census_2015 = os.path.join("data", "census_data_2015.csv")
census_2016 = os.path.join("data", "census_data_2016.csv")
census_2017 = os.path.join("data", "census_data_2017.csv")


census_2015_pd = pd.read_csv(census_2015)
census_2016_pd = pd.read_csv(census_2016)
census_2017_pd = pd.read_csv(census_2017)

### This section is for cleaning the csv. Make sure you select the year you desire to format.

#### Check if there are null values in the data

In [42]:
census_2017_pd.isnull().any()

Zipcode              False
Population           False
Median Age           False
Household Income     False
Per Capita Income     True
dtype: bool

#### There is a -666666666.0 value that needs to be replaced with NaN

In [43]:
census_2017_pd

census_2017_pd_clean = census_2017_pd.replace(-666666666.0, np.nan)

#### Drop NaN values from the dataframe

In [44]:
census_2017_pd_nonan = census_2017_pd_clean.dropna(how='any')

In [45]:
census_2017_pd_nonan

       Zipcode  Population  Median Age  Household Income  Per Capita Income
0          601     17599.0        38.9           11757.0             7041.0
1          602     39209.0        40.9           16190.0             8978.0
2          603     50135.0        40.4           16645.0            10897.0
3          606      6304.0        42.8           13387.0             5960.0
4          610     27590.0        41.4           18741.0             9266.0
5          612     62566.0        41.4           17744.0            10283.0
6          616     10687.0        43.7           14918.0             9002.0
7          617     24508.0        38.7           17157.0             8762.0
8          622      7405.0        48.4           16727.0            11935.0
9          623     42321.0        41.3           16401.0             9101.0
10         624     23238.0        37.2           16832.0             8072.0
11         627     32936.0        40.1           17579.0             9738.0
12         631      1555.0        48.2            9632.0             7690.0
13         637     23610.0        40.9           15736.0             9158.0
14         638     17202.0        40.3           14448.0             8108.0
15         641     28332.0        41.9           16292.0             8305.0
16         646     38008.0        39.4           29160.0            15397.0
17         647      5610.0        47.1           13071.0             7058.0
18         650     14664.0        38.6           16095.0             7698.0
19         652      3681.0        38.8           20564.0            11439.0
20         653     11717.0        38.7           12236.0             7279.0
21         656     19546.0        40.3           14966.0             8327.0
22         659     40978.0        40.7           17770.0            10360.0
23         660     16474.0        45.1           19674.0            11588.0
24         662     41341.0        40.6           16771.0             8883.0
25         664     15396.0        36.3           15401.0             7134.0
26         667     24089.0        43.6           13843.0             7256.0
27         669     26510.0        40.9           12996.0             8236.0
28         670      8797.0        40.1           14456.0             7293.0
29         674     40826.0        41.1           18032.0            10520.0
...        ...         ...         ...               ...                ...
33087    99783       159.0        25.5           31250.0            12675.0
33088    99784       173.0        30.3           38125.0            18612.0
33089    99785       421.0        22.0           33750.0             8425.0
33090    99786       299.0        26.9           44500.0            15937.0
33091    99788       119.0        34.4           28750.0            19081.0
33092    99789       395.0        25.4           82813.0            22481.0
33094    99791       172.0        24.5           61250.0            20597.0
33095    99801     30179.0        38.2           91743.0            41968.0
33096    99820       540.0        42.7           36000.0            34954.0
33097    99824      2255.0        35.5           75577.0            41057.0
33098    99825        89.0        58.5           88500.0            50983.0
33099    99826       386.0        53.3           61875.0            39582.0
33100    99827      2599.0        45.5           70091.0            35619.0
33101    99829       828.0        46.1           60625.0            28857.0
33102    99830       635.0        37.2           51250.0            18955.0
33103    99832        94.0        55.5           67917.0            33720.0
33104    99833      3275.0        41.7           63490.0            35044.0
33105    99835      8810.0        38.9           70765.0            36617.0
33106    99836        60.0        40.7           66875.0            30355.0
33107    99840      1038.0        42.9           70673.0            39376.0
33108    99841       147.0        61.3           59688.0            34670.0
33109    99901     13768.0        39.5           67321.0            33755.0
33111    99918       174.0        57.8           63125.0            34149.0
33112    99919       660.0        47.8           50956.0            31413.0
33113    99921      1971.0        41.1           58047.0            33002.0
33114    99922       306.0        45.0           31250.0            16408.0
33116    99925       901.0        45.1           48646.0            24783.0
33117    99926      1684.0        32.8           57969.0            22927.0
33118    99927        59.0        49.8           17981.0            11959.0
33119    99929      2455.0        49.0           55742.0            29861.0

[30954 rows x 5 columns]

#### Export csv

In [46]:
census_2017_pd_nonan.to_csv("census_data_2017_clean.csv", encoding="utf-8", index=False)