# Avocado Consumption by Age and by Region

In this notebook we will use the Census and Avocado database to plot the avocado consumption in the US by age and by region

In [ ]:
%matplotlib notebook

In [29]:
# Import dependencies 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [30]:
# Import csv files
#     For census
census_file_2015 = os.path.join('data','census_data_2015_clean.csv')
census_file_2016 = os.path.join('data','census_data_2016_clean.csv')
census_file_2017 = os.path.join('data','census_data_2017_clean.csv')

#     For avocado
avocado_file_2015 = os.path.join('Resources','avocado2015.csv')
avocado_file_2016 = os.path.join('Resources','avocado2016.csv')
avocado_file_2017 = os.path.join('Resources','avocado2017.csv')

# Read csv files
#     For census
census_2015_df = pd.read_csv(census_file_2015)
census_2016_df = pd.read_csv(census_file_2016)
census_2017_df = pd.read_csv(census_file_2017)
#     For avocado
avocado_2015_df = pd.read_csv(avocado_file_2015)
avocado_2016_df = pd.read_csv(avocado_file_2016)
avocado_2017_df = pd.read_csv(avocado_file_2017)

In [31]:
# Display csv files

# census_2015_df
# census_2016_df.head()
# census_2017_df.head()
# avocado_2015_df.head()
# avocado_2016_df.head()
# avocado_2017_df.head()

## Adding region column to Census db based on zipcode range

In [76]:
# census 2015
zipcode_range = [census_2015_df['Zipcode'].between(1020, 1199), census_2015_df['Zipcode'].between(2101, 2445), census_2015_df['Zipcode'].between(6101, 6167), census_2015_df['Zipcode'].between(10001, 11104), census_2015_df['Zipcode'].between(12084,12260), census_2015_df['Zipcode'].between(13201, 13290), census_2015_df['Zipcode'].between(14201, 14276), census_2015_df['Zipcode'].between(14602, 14694), census_2015_df['Zipcode'].between(15106, 15295), census_2015_df['Zipcode'].between(17025, 17130), census_2015_df['Zipcode'].between(18503, 18519), census_2015_df['Zipcode'].between(19019, 19255), census_2015_df['Zipcode'].between(20001, 20456), census_2015_df['Zipcode'].between(21201, 21298), census_2015_df['Zipcode'].between(91911, 92199), census_2015_df['Zipcode'].between(23173, 23298), census_2015_df['Zipcode'].between(23324, 23551), census_2015_df['Zipcode'].between(24001, 24050), census_2015_df['Zipcode'].between(27214, 27499), census_2015_df['Zipcode'].between(27513, 27698), census_2015_df['Zipcode'].between(28105, 28299), census_2015_df['Zipcode'].between(29401, 29493), census_2015_df['Zipcode'].between(30301, 31196), census_2015_df['Zipcode'].between(32034, 32257), census_2015_df['Zipcode'].between(32789, 32897), census_2015_df['Zipcode'].between(33101, 33255), census_2015_df['Zipcode'].between(33301, 33394), census_2015_df['Zipcode'].between(33601, 33681), census_2015_df['Zipcode'].between(37011, 37250), census_2015_df['Zipcode'].between(40018, 40299), census_2015_df['Zipcode'].between(41073, 45299), census_2015_df['Zipcode'].between(43004, 43291), census_2015_df['Zipcode'].between(45377, 45490), census_2015_df['Zipcode'].between(46077, 46298), census_2015_df['Zipcode'].between(48127, 48288), census_2015_df['Zipcode'].between(49501, 49599), census_2015_df['Zipcode'].between(60007, 60827), census_2015_df['Zipcode'].between(60044, 60088), census_2015_df['Zipcode'].between(63101, 63199), census_2015_df['Zipcode'].between(70032, 70190), census_2015_df['Zipcode'].between(75001, 76217), census_2015_df['Zipcode'].between(76006, 76262), census_2015_df['Zipcode'].between(77001, 77571), census_2015_df['Zipcode'].between(80014, 80642), census_2015_df['Zipcode'].between(83701, 83735), census_2015_df['Zipcode'].between(85001, 85709), census_2015_df['Zipcode'].between(85641, 86714), census_2015_df['Zipcode'].between(87001, 88439), census_2015_df['Zipcode'].between(88901, 89163), census_2015_df['Zipcode'].between(90001, 91610), census_2015_df['Zipcode'].between(90210, 90296), census_2015_df['Zipcode'].between(94016, 94188), census_2015_df['Zipcode'].between(94203, 95894), census_2015_df['Zipcode'].between(97035, 97296), census_2015_df['Zipcode'].between(98101, 98191), census_2015_df['Zipcode'].between(99201, 99260)]
city = ["HartfordSpringfield", "Boston", "HartfordSpringfield", "NewYork", "Albany", "Syracuse", "BuffaloRochester", "BuffaloRochester", "Pittsburgh", "HarrisburgScranton", "HarrisburgScranton", "Philadelphia", "BaltimoreWashington", "BaltimoreWashington", "SanDiego", "RichmondNorfolk", "RichmondNorfolk", "Roanoke", "RaleighGreensboro", "RaleighGreensboro", "Charlotte", "SouthCarolina", "Atlanta", "Jacksonville", "Orlando", "MiamiFtLauderdale", "MiamiFtLauderdale", "Tampa", "Nashville", "Louisville", "CincinnatiDayton", "Columbus", "CincinnatiDayton", "Indianapolis", "Detroit", "GrandRapids", "Chicago", "GreatLakes", "StLouis", "NewOrleansMobile", "DallasFtWorth", "DallasFtWorth", "Houston", "Denver", "Boise", "PhoenixTucson", "PhoenixTucson", "WestTexNewMexico", "LasVegas", "LosAngeles", "California", "SanFrancisco", "Sacramento", "Portland", "Seattle", "Spokane"]
census_2015_df['region'] = np.select(zipcode_range, city, 0)

In [77]:
census_2015_df.replace('0', np.nan)

,Zipcode,Population,Median Age,Household Income,Per Capita Income,region
0,12810,724.0,46.5,57500.0,25551.0,NaN
1,12812,58.0,64.1,49583.0,23600.0,NaN
2,12814,1282.0,46.4,58176.0,35508.0,NaN
3,12815,1103.0,54.2,60458.0,30685.0,NaN
4,12816,4417.0,46.9,50417.0,26988.0,NaN
5,12817,2330.0,45.2,59861.0,26976.0,NaN
6,12819,309.0,55.6,43839.0,23297.0,NaN
7,12821,2816.0,35.6,34000.0,3450.0,NaN
8,12822,6277.0,40.4,52578.0,24178.0,NaN
9,12823,369.0,54.7,82639.0,26705.0,NaN
10,12824,1114.0,55.7,61650.0,38444.0,NaN
11,12827,3800.0,43.6,62917.0,25545.0,NaN
12,12828,9363.0,44.2,51250.0,28026.0,NaN
13,12831,17727.0,40.7,78505.0,32984.0,NaN
14,12832,6618.0,45.0,43918.0,22318.0,NaN
15,12833,4183.0,47.9,65898.0,32373.0,NaN
16,12834,6104.0,44.2,56104.0,30289.0,NaN
17,12835,2344.0,51.2,51148.0,25733.0,NaN
18,12836,682.0,55.4,61739.0,30614.0,NaN
19,12837,941.0,44.6,45446.0,22653.0,NaN
20,12838,559.0,49.3,56250.0,31448.0,NaN
21,12839,13740.0,37.4,44350.0,21932.0,NaN
22,12841,100.0,68.2,27500.0,42708.0,NaN
23,12842,730.0,48.8,37321.0,33690.0,NaN
24,12843,539.0,48.4,38393.0,22477.0,NaN
25,12844,263.0,53.0,60000.0,34329.0,NaN
26,12845,4792.0,51.5,66710.0,38335.0,NaN
27,12846,3265.0,44.0,53112.0,24880.0,NaN
28,12847,389.0,53.3,62917.0,39498.0,NaN
29,12849,623.0,37.8,70263.0,23449.0,NaN
...,...,...,...,...,...,...
31037,57725,199.0,66.5,57569.0,30861.0,NaN
31038,57730,5669.0,55.2,44981.0,27308.0,NaN
31039,57732,2368.0,47.1,53179.0,25867.0,NaN
31040,57735,1363.0,55.0,35893.0,25815.0,NaN
31041,57738,60.0,58.6,25625.0,20078.0,NaN
31042,57744,2004.0,39.2,55809.0,27031.0,NaN
31043,57745,2529.0,40.3,60625.0,26428.0,NaN
31044,57747,5647.0,51.7,49264.0,25290.0,NaN
31045,57748,358.0,36.2,39583.0,18393.0,NaN
31046,57750,427.0,25.0,47647.0,16856.0,NaN
31047,57751,677.0,46.7,44239.0,24069.0,NaN
31048,57752,1920.0,23.9,31797.0,8915.0,NaN
31049,57754,3566.0,46.7,42641.0,27608.0,NaN
31050,57755,118.0,48.7,50833.0,26358.0,NaN
31051,57756,1116.0,25.9,14792.0,4432.0,NaN
31052,57758,86.0,57.3,100536.0,51544.0,NaN
31053,57759,520.0,21.8,55446.0,13820.0,NaN
31054,57760,1399.0,48.1,51250.0,27265.0,NaN
31055,57761,1073.0,43.3,64076.0,35941.0,NaN
31056,57762,743.0,47.1,52833.0,23126.0,NaN
31057,57763,293.0,49.5,57188.0,33059.0,NaN
31058,57764,1671.0,25.7,21115.0,8539.0,NaN
31059,57766,310.0,52.4,64583.0,29929.0,NaN
31060,57769,3812.0,39.2,67553.0,28371.0,NaN
31061,57770,5825.0,24.1,33571.0,10370.0,NaN
31062,57772,2201.0,25.4,22759.0,7810.0,NaN
31063,57773,330.0,40.0,90625.0,34238.0,NaN
31064,57775,280.0,36.0,71250.0,24657.0,NaN
31065,57779,158.0,61.7,39792.0,26141.0,NaN
31066,57780,89.0,58.8,92000.0,54336.0,NaN

In [78]:
# census 2016
zipcode_range = [census_2016_df['Zipcode'].between(1020, 1199), census_2016_df['Zipcode'].between(2101, 2445), census_2016_df['Zipcode'].between(6101, 6167), census_2016_df['Zipcode'].between(10001, 11104), census_2016_df['Zipcode'].between(12084,12260), census_2016_df['Zipcode'].between(13201, 13290), census_2016_df['Zipcode'].between(14201, 14276), census_2016_df['Zipcode'].between(14602, 14694), census_2016_df['Zipcode'].between(15106, 15295), census_2016_df['Zipcode'].between(17025, 17130), census_2016_df['Zipcode'].between(18503, 18519), census_2016_df['Zipcode'].between(19019, 19255), census_2016_df['Zipcode'].between(20001, 20456), census_2016_df['Zipcode'].between(21201, 21298), census_2016_df['Zipcode'].between(91911, 92199), census_2016_df['Zipcode'].between(23173, 23298), census_2016_df['Zipcode'].between(23324, 23551), census_2016_df['Zipcode'].between(24001, 24050), census_2016_df['Zipcode'].between(27214, 27499), census_2016_df['Zipcode'].between(27513, 27698), census_2016_df['Zipcode'].between(28105, 28299), census_2016_df['Zipcode'].between(29401, 29493), census_2016_df['Zipcode'].between(30301, 31196), census_2016_df['Zipcode'].between(32034, 32257), census_2016_df['Zipcode'].between(32789, 32897), census_2016_df['Zipcode'].between(33101, 33255), census_2016_df['Zipcode'].between(33301, 33394), census_2016_df['Zipcode'].between(33601, 33681), census_2016_df['Zipcode'].between(37011, 37250), census_2016_df['Zipcode'].between(40018, 40299), census_2016_df['Zipcode'].between(41073, 45299), census_2016_df['Zipcode'].between(43004, 43291), census_2016_df['Zipcode'].between(45377, 45490), census_2016_df['Zipcode'].between(46077, 46298), census_2016_df['Zipcode'].between(48127, 48288), census_2016_df['Zipcode'].between(49501, 49599), census_2016_df['Zipcode'].between(60007, 60827), census_2016_df['Zipcode'].between(60044, 60088), census_2016_df['Zipcode'].between(63101, 63199), census_2016_df['Zipcode'].between(70032, 70190), census_2016_df['Zipcode'].between(75001, 76217), census_2016_df['Zipcode'].between(76006, 76262), census_2016_df['Zipcode'].between(77001, 77571), census_2016_df['Zipcode'].between(80014, 80642), census_2016_df['Zipcode'].between(83701, 83735), census_2016_df['Zipcode'].between(85001, 85709), census_2016_df['Zipcode'].between(85641, 86714), census_2016_df['Zipcode'].between(87001, 88439), census_2016_df['Zipcode'].between(88901, 89163), census_2016_df['Zipcode'].between(90001, 91610), census_2016_df['Zipcode'].between(90210, 90296), census_2016_df['Zipcode'].between(94016, 94188), census_2016_df['Zipcode'].between(94203, 95894), census_2016_df['Zipcode'].between(97035, 97296), census_2016_df['Zipcode'].between(98101, 98191), census_2016_df['Zipcode'].between(99201, 99260)]
city = ["HartfordSpringfield", "Boston", "HartfordSpringfield", "NewYork", "Albany", "Syracuse", "BuffaloRochester", "BuffaloRochester", "Pittsburgh", "HarrisburgScranton", "HarrisburgScranton", "Philadelphia", "BaltimoreWashington", "BaltimoreWashington", "SanDiego", "RichmondNorfolk", "RichmondNorfolk", "Roanoke", "RaleighGreensboro", "RaleighGreensboro", "Charlotte", "SouthCarolina", "Atlanta", "Jacksonville", "Orlando", "MiamiFtLauderdale", "MiamiFtLauderdale", "Tampa", "Nashville", "Louisville", "CincinnatiDayton", "Columbus", "CincinnatiDayton", "Indianapolis", "Detroit", "GrandRapids", "Chicago", "GreatLakes", "StLouis", "NewOrleansMobile", "DallasFtWorth", "DallasFtWorth", "Houston", "Denver", "Boise", "PhoenixTucson", "PhoenixTucson", "WestTexNewMexico", "LasVegas", "LosAngeles", "California", "SanFrancisco", "Sacramento", "Portland", "Seattle", "Spokane"]
census_2016_df['region'] = np.select(zipcode_range, city, np.nan)

# census_2016_df['region'].value_counts()

In [79]:
census_2016_df.replace('0', np.nan)

,Zipcode,Population,Median Age,Household Income,Per Capita Income,region
0,5762,513.0,39.2,58558.0,24235.0,nan
1,5763,2715.0,43.9,54968.0,29674.0,nan
2,5764,3370.0,41.3,44468.0,22651.0,nan
3,5765,1632.0,46.7,56771.0,30786.0,nan
4,5766,598.0,45.9,52250.0,33227.0,nan
5,5767,1053.0,50.2,46193.0,30351.0,nan
6,5769,1192.0,45.2,57500.0,26407.0,nan
7,5770,1038.0,49.6,71667.0,34765.0,nan
8,5772,656.0,50.0,54271.0,33247.0,nan
9,5773,2281.0,47.8,51942.0,29896.0,nan
10,5774,1012.0,53.7,49375.0,30679.0,nan
11,5775,495.0,42.2,34659.0,19602.0,nan
12,5776,630.0,54.7,57981.0,32876.0,nan
13,5777,3357.0,46.1,58214.0,27476.0,nan
14,5778,721.0,43.9,51029.0,26094.0,nan
15,5819,9655.0,45.3,46166.0,25208.0,nan
16,5820,544.0,48.8,37386.0,23091.0,nan
17,5821,1081.0,53.2,61522.0,31981.0,nan
18,5822,1615.0,52.6,36667.0,23861.0,nan
19,5824,1190.0,44.2,47188.0,23252.0,nan
20,5825,134.0,40.5,62083.0,28772.0,nan
21,5826,886.0,42.2,56458.0,27294.0,nan
22,5827,357.0,43.5,47500.0,20092.0,nan
23,5828,1893.0,50.4,55000.0,32827.0,nan
24,5829,1754.0,51.6,39402.0,24194.0,nan
25,5830,1515.0,46.6,50948.0,29429.0,nan
26,5832,835.0,44.7,59107.0,27765.0,nan
27,5833,269.0,44.3,56750.0,20907.0,nan
28,5836,1193.0,43.1,54896.0,25332.0,nan
29,5837,372.0,50.5,42308.0,21393.0,nan
...,...,...,...,...,...,...
31078,99350,13359.0,35.3,56183.0,24604.0,nan
31079,99352,29963.0,37.5,74937.0,39164.0,nan
31080,99353,14952.0,37.3,83273.0,32724.0,nan
31081,99354,22911.0,36.3,64161.0,33202.0,nan
31082,99356,231.0,55.5,35938.0,20333.0,nan
31083,99357,4287.0,25.4,46250.0,14464.0,nan
31084,99359,117.0,60.3,33125.0,40073.0,nan
31085,99360,1402.0,39.5,76250.0,31570.0,nan
31086,99361,1747.0,49.1,55588.0,29113.0,nan
31087,99362,41752.0,37.2,48651.0,24944.0,nan
31088,99363,394.0,12.4,19955.0,3594.0,nan
31089,99371,414.0,42.6,60417.0,27971.0,nan
31090,99401,264.0,50.6,61480.0,24962.0,nan
31091,99402,1794.0,48.3,57621.0,31130.0,nan
31092,99403,20080.0,44.3,44386.0,25281.0,nan
31093,99501,17130.0,36.4,55523.0,39253.0,nan
31094,99502,24253.0,33.3,85154.0,40512.0,nan
31095,99503,14148.0,33.4,49037.0,28735.0,nan
31096,99504,42908.0,31.5,79063.0,32547.0,nan
31097,99505,6240.0,21.6,52083.0,19992.0,nan
31098,99506,7094.0,22.8,59369.0,21775.0,nan
31099,99507,39460.0,34.7,91165.0,40391.0,nan
31100,99508,34649.0,30.7,59934.0,30247.0,nan
31101,99515,23747.0,33.9,101490.0,42779.0,nan
31102,99516,21775.0,41.5,146688.0,56591.0,nan
31103,99517,17226.0,35.9,73660.0,38860.0,nan
31104,99518,9872.0,36.4,82119.0,43211.0,nan
31105,99540,286.0,62.3,100755.0,50354.0,nan
31106,99546,122.0,29.9,75000.0,24629.0,nan
31107,99547,51.0,31.5,57500.0,28420.0,nan

In [80]:
# census 2017
zipcode_range = [census_2017_df['Zipcode'].between(1020, 1199), census_2017_df['Zipcode'].between(2101, 2445), census_2017_df['Zipcode'].between(6101, 6167), census_2017_df['Zipcode'].between(10001, 11104), census_2017_df['Zipcode'].between(12084,12260), census_2017_df['Zipcode'].between(13201, 13290), census_2017_df['Zipcode'].between(14201, 14276), census_2017_df['Zipcode'].between(14602, 14694), census_2017_df['Zipcode'].between(15106, 15295), census_2017_df['Zipcode'].between(17025, 17130), census_2017_df['Zipcode'].between(18503, 18519), census_2017_df['Zipcode'].between(19019, 19255), census_2017_df['Zipcode'].between(20001, 20456), census_2017_df['Zipcode'].between(21201, 21298), census_2017_df['Zipcode'].between(91911, 92199), census_2017_df['Zipcode'].between(23173, 23298), census_2017_df['Zipcode'].between(23324, 23551), census_2017_df['Zipcode'].between(24001, 24050), census_2017_df['Zipcode'].between(27214, 27499), census_2017_df['Zipcode'].between(27513, 27698), census_2017_df['Zipcode'].between(28105, 28299), census_2017_df['Zipcode'].between(29401, 29493), census_2017_df['Zipcode'].between(30301, 31196), census_2017_df['Zipcode'].between(32034, 32257), census_2017_df['Zipcode'].between(32789, 32897), census_2017_df['Zipcode'].between(33101, 33255), census_2017_df['Zipcode'].between(33301, 33394), census_2017_df['Zipcode'].between(33601, 33681), census_2017_df['Zipcode'].between(37011, 37250), census_2017_df['Zipcode'].between(40018, 40299), census_2017_df['Zipcode'].between(41073, 45299), census_2017_df['Zipcode'].between(43004, 43291), census_2017_df['Zipcode'].between(45377, 45490), census_2017_df['Zipcode'].between(46077, 46298), census_2017_df['Zipcode'].between(48127, 48288), census_2017_df['Zipcode'].between(49501, 49599), census_2017_df['Zipcode'].between(60007, 60827), census_2017_df['Zipcode'].between(60044, 60088), census_2017_df['Zipcode'].between(63101, 63199), census_2017_df['Zipcode'].between(70032, 70190), census_2017_df['Zipcode'].between(75001, 76217), census_2017_df['Zipcode'].between(76006, 76262), census_2017_df['Zipcode'].between(77001, 77571), census_2017_df['Zipcode'].between(80014, 80642), census_2017_df['Zipcode'].between(83701, 83735), census_2017_df['Zipcode'].between(85001, 85709), census_2017_df['Zipcode'].between(85641, 86714), census_2017_df['Zipcode'].between(87001, 88439), census_2017_df['Zipcode'].between(88901, 89163), census_2017_df['Zipcode'].between(90001, 91610), census_2017_df['Zipcode'].between(90210, 90296), census_2017_df['Zipcode'].between(94016, 94188), census_2017_df['Zipcode'].between(94203, 95894), census_2017_df['Zipcode'].between(97035, 97296), census_2017_df['Zipcode'].between(98101, 98191), census_2017_df['Zipcode'].between(99201, 99260)]
city = ["HartfordSpringfield", "Boston", "HartfordSpringfield", "NewYork", "Albany", "Syracuse", "BuffaloRochester", "BuffaloRochester", "Pittsburgh", "HarrisburgScranton", "HarrisburgScranton", "Philadelphia", "BaltimoreWashington", "BaltimoreWashington", "SanDiego", "RichmondNorfolk", "RichmondNorfolk", "Roanoke", "RaleighGreensboro", "RaleighGreensboro", "Charlotte", "SouthCarolina", "Atlanta", "Jacksonville", "Orlando", "MiamiFtLauderdale", "MiamiFtLauderdale", "Tampa", "Nashville", "Louisville", "CincinnatiDayton", "Columbus", "CincinnatiDayton", "Indianapolis", "Detroit", "GrandRapids", "Chicago", "GreatLakes", "StLouis", "NewOrleansMobile", "DallasFtWorth", "DallasFtWorth", "Houston", "Denver", "Boise", "PhoenixTucson", "PhoenixTucson", "WestTexNewMexico", "LasVegas", "LosAngeles", "California", "SanFrancisco", "Sacramento", "Portland", "Seattle", "Spokane"]
census_2017_df['region'] = np.select(zipcode_range, city, np.nan)

# census_2017_df['region'].value_counts()

In [81]:
census_2016_df.replace('0', np.nan)

,Zipcode,Population,Median Age,Household Income,Per Capita Income,region
0,5762,513.0,39.2,58558.0,24235.0,nan
1,5763,2715.0,43.9,54968.0,29674.0,nan
2,5764,3370.0,41.3,44468.0,22651.0,nan
3,5765,1632.0,46.7,56771.0,30786.0,nan
4,5766,598.0,45.9,52250.0,33227.0,nan
5,5767,1053.0,50.2,46193.0,30351.0,nan
6,5769,1192.0,45.2,57500.0,26407.0,nan
7,5770,1038.0,49.6,71667.0,34765.0,nan
8,5772,656.0,50.0,54271.0,33247.0,nan
9,5773,2281.0,47.8,51942.0,29896.0,nan
10,5774,1012.0,53.7,49375.0,30679.0,nan
11,5775,495.0,42.2,34659.0,19602.0,nan
12,5776,630.0,54.7,57981.0,32876.0,nan
13,5777,3357.0,46.1,58214.0,27476.0,nan
14,5778,721.0,43.9,51029.0,26094.0,nan
15,5819,9655.0,45.3,46166.0,25208.0,nan
16,5820,544.0,48.8,37386.0,23091.0,nan
17,5821,1081.0,53.2,61522.0,31981.0,nan
18,5822,1615.0,52.6,36667.0,23861.0,nan
19,5824,1190.0,44.2,47188.0,23252.0,nan
20,5825,134.0,40.5,62083.0,28772.0,nan
21,5826,886.0,42.2,56458.0,27294.0,nan
22,5827,357.0,43.5,47500.0,20092.0,nan
23,5828,1893.0,50.4,55000.0,32827.0,nan
24,5829,1754.0,51.6,39402.0,24194.0,nan
25,5830,1515.0,46.6,50948.0,29429.0,nan
26,5832,835.0,44.7,59107.0,27765.0,nan
27,5833,269.0,44.3,56750.0,20907.0,nan
28,5836,1193.0,43.1,54896.0,25332.0,nan
29,5837,372.0,50.5,42308.0,21393.0,nan
...,...,...,...,...,...,...
31078,99350,13359.0,35.3,56183.0,24604.0,nan
31079,99352,29963.0,37.5,74937.0,39164.0,nan
31080,99353,14952.0,37.3,83273.0,32724.0,nan
31081,99354,22911.0,36.3,64161.0,33202.0,nan
31082,99356,231.0,55.5,35938.0,20333.0,nan
31083,99357,4287.0,25.4,46250.0,14464.0,nan
31084,99359,117.0,60.3,33125.0,40073.0,nan
31085,99360,1402.0,39.5,76250.0,31570.0,nan
31086,99361,1747.0,49.1,55588.0,29113.0,nan
31087,99362,41752.0,37.2,48651.0,24944.0,nan
31088,99363,394.0,12.4,19955.0,3594.0,nan
31089,99371,414.0,42.6,60417.0,27971.0,nan
31090,99401,264.0,50.6,61480.0,24962.0,nan
31091,99402,1794.0,48.3,57621.0,31130.0,nan
31092,99403,20080.0,44.3,44386.0,25281.0,nan
31093,99501,17130.0,36.4,55523.0,39253.0,nan
31094,99502,24253.0,33.3,85154.0,40512.0,nan
31095,99503,14148.0,33.4,49037.0,28735.0,nan
31096,99504,42908.0,31.5,79063.0,32547.0,nan
31097,99505,6240.0,21.6,52083.0,19992.0,nan
31098,99506,7094.0,22.8,59369.0,21775.0,nan
31099,99507,39460.0,34.7,91165.0,40391.0,nan
31100,99508,34649.0,30.7,59934.0,30247.0,nan
31101,99515,23747.0,33.9,101490.0,42779.0,nan
31102,99516,21775.0,41.5,146688.0,56591.0,nan
31103,99517,17226.0,35.9,73660.0,38860.0,nan
31104,99518,9872.0,36.4,82119.0,43211.0,nan
31105,99540,286.0,62.3,100755.0,50354.0,nan
31106,99546,122.0,29.9,75000.0,24629.0,nan
31107,99547,51.0,31.5,57500.0,28420.0,nan

In [ ]:
0