# Avocado Consumption by Age and by Region

In this notebook we will use the Census and Avocado database to plot the avocado consumption in the US by age and by region

In [ ]:
%matplotlib notebook

In [14]:
# Import dependencies 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [16]:
# Import csv files
    # For census
# census_file_2015 = os.path.join('data','census_data_2015_clean.csv')
# census_file_2016 = os.path.join('data','census_data_2016_clean.csv')
# census_file_2017 = os.path.join('data','census_data_2017_clean.csv')
census_file_2017 = os.path.join('census_data_2017.csv')
    # For avocado
# avocado_file_2015 = os.path.join('Resources 9.31.21 PM','avocado2015.csv')
# avocado_file_2016 = os.path.join('Resources 9.31.21 PM','avocado2016.csv')
# avocado_file_2017 = os.path.join('Resources 9.31.21 PM','avocado2017.csv')

# Read csv files
    # For census
# census_2015_df = pd.read_csv(census_file_2015, dtype = str)
# census_2016_df = pd.read_csv(census_file_2016, dtype = str)
census_2017_df = pd.read_csv(census_file_2017, dtype = str)
    # For avocado
# avocado_2015_df = pd.read_csv(avocado_file_2015)
# avocado_2016_df = pd.read_csv(avocado_file_2016)
# avocado_2017_df = pd.read_csv(avocado_file_2017)

In [17]:
# Display csv files

census_2017_df.head()
# census_2016_df.head()
# census_2017_df.head()
# avocado_2015_df.head()
# avocado_2016_df.head()
# avocado_2017_df.head()

  Zipcode Population Median Age Household Income Per Capita Income
0   00601    17599.0       38.9          11757.0            7041.0
1   00602    39209.0       40.9          16190.0            8978.0
2   00603    50135.0       40.4          16645.0           10897.0
3   00606     6304.0       42.8          13387.0            5960.0
4   00610    27590.0       41.4          18741.0            9266.0

In [18]:
census_2017_df.head()

  Zipcode Population Median Age Household Income Per Capita Income
0   00601    17599.0       38.9          11757.0            7041.0
1   00602    39209.0       40.9          16190.0            8978.0
2   00603    50135.0       40.4          16645.0           10897.0
3   00606     6304.0       42.8          13387.0            5960.0
4   00610    27590.0       41.4          18741.0            9266.0